@font-face {
	font-family: 'vni-avo-normal';
	src: url('../fonts/vni-avo.eot'),
         url('../fonts/vni-avo.woff2') format('woff2'),
         url('../fonts/vni-avo.woff') format('woff'),
         url('../fonts/vni-avo.ttf') format('truetype'),
         url('../fonts/vni-avo.svgt') format('svg');
    font-weight: normal;
    font-style: normal;

}

section {width: 100%; overflow: hidden;}
