$white: #ffffff;
$red: #db2128;
$yellow: #ffe600;
$black: #000;
$breakpoint_tablet: 1024px;
$breakpoint_iphone4: 320px;
$footer_hover:#999999;
$footer_link:#666666;
$header_title_size: 71px;
@mixin opacity ($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin background-size ($value) {
       -moz-background-size: $value;
         -o-background-size: $value;
    -webkit-background-size: $value;
            background-size: $value;
}
@mixin transform ($value) {
       -moz-transform: $value;
         -o-transform: $value;
    -webkit-transform: $value;
            transform: $value;
}
@mixin text-shadow ($value) {
       -moz-text-shadow: $value;
         -o-text-shadow: $value;
    -webkit-text-shadow: $value;
            text-shadow: $value;
}
@mixin border-radius ($value) {
    border-radius: $value;
    -o-border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
}
@mixin box-shadow ($value) {
    -webkit-box-shadow: $value;
    -o-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin font-size ($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
@mixin transition ($value) {
     -webkit-transition: $value;
     -moz-transition: $value;
     -ms-transition: $value;
     -o-transition: $value;
     transition: $value;
}