.text-center {
  text-align: center; }

.container-fluid {
  max-width: 2000px;
  position: relative; }
  .container-fluid.page {
    top: 50px; }
  .container-fluid .container-page {
    margin: auto;
    max-width: 1200px; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
  text-align: left;
  overflow: hidden; }

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 20px auto;
  max-width: 75%; }
  .strike h2 {
    position: relative;
    display: inline-block;
    color: #db2128;
    text-transform: uppercase;
    line-height: 1.3em;
    font-size: 25px;
    font-size: calculateRem(25px); }
    .strike h2:before, .strike h2:after {
      content: "";
      position: absolute;
      top: 75%;
      width: 9999px;
      height: 2px;
      background: #e60000; }
    .strike h2:before {
      right: 100%;
      margin-right: 15px; }
    .strike h2:after {
      left: 100%;
      margin-left: 15px; }

/* logo */
.logo {
  width: 370px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  display: none; }

/* navigation */
/* mobile */
#mobile-navigation-wrapper {
  display: none; }

#mobile-navigation-menu-toggle {
  display: none; }

/* desktop */
nav#desktop-navigation {
  display: block;
  position: fixed;
  top: 0px;
  left: 50%;
  width: 100%;
  max-width: 2000px;
  -moz-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  transform: translate3d(-50%, 0px, 0px);
  /* bring your own prefixes */
  height: 70px;
  z-index: 100;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9); }
  nav#desktop-navigation ul {
    display: block;
    position: relative;
    float: right;
    right: 2%;
    padding-top: 25px; }
    nav#desktop-navigation ul li {
      display: inline-block;
      list-style: none;
      padding-left: 20px;
      color: #fff; }
      nav#desktop-navigation ul li:first-child {
        margin-left: 100px; }
      nav#desktop-navigation ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-size: calculateRem(12px);
        text-transform: uppercase; }
        nav#desktop-navigation ul li a:hover, nav#desktop-navigation ul li a:active, nav#desktop-navigation ul li a.active {
          color: #db2128; }
        nav#desktop-navigation ul li a img {
          width: 22px; }
  nav#desktop-navigation .sub-menu {
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px #313131 solid; }
    nav#desktop-navigation .sub-menu ul {
      right: 45px;
      padding: 20px;
      width: auto;
      padding: 5px;
      margin: 0px;
      min-width: auto; }
      nav#desktop-navigation .sub-menu ul li:first-child {
        margin-left: 0px; }
  nav#desktop-navigation .logo {
    display: block; }

/* desktop-navigation */
/* footer */
footer {
  min-width: 100%;
  background-color: #000;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 50px; }
  footer .row {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
    margin: 0 auto; }
    footer .row .container-fluid {
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      padding-left: 0px;
      padding-right: 0px; }
      footer .row .container-fluid div.cmg-brands {
        margin-top: 50px;
        padding-left: 0px;
        padding-right: 0px; }
        footer .row .container-fluid div.cmg-brands div.tooltip div.tooltip-inner {
          min-width: 300px;
          background-color: #333;
          background-color: rgba(0, 0, 0, 0.8);
          white-space: normal;
          text-align: left;
          border: 1px #333 solid; }
      footer .row .container-fluid .last-brand div.tooltip.fade.bottom.in, footer .row .container-fluid .last-brand div.tooltip.fade.bottom {
        left: -100px !important; }
      footer .row .container-fluid .icon-div {
        padding: 0px 20px; }
        footer .row .container-fluid .icon-div .icons {
          font-size: 40px;
          font-size: calculateRem(40px);
          color: #666666;
          border-radius: 50%;
          border: 2px #333333 solid;
          text-align: center;
          height: 60px;
          width: 60px;
          padding-top: 9px;
          margin: 50px 0; }
          footer .row .container-fluid .icon-div .icons:hover {
            color: #999999;
            border: 2px #999999 solid; }
      footer .row .container-fluid li {
        display: inline-block;
        padding-left: 20px;
        color: #666666;
        text-transform: uppercase; }
        footer .row .container-fluid li a {
          color: #666666; }
          footer .row .container-fluid li a:hover {
            color: #999999; }
  footer p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-size: calculateRem(14px);
    margin-bottom: 0px; }

/* media queries */
@media only screen and (max-width: 20em) {
  .strike {
    max-width: 90%; }
    .strike h2 {
      position: relative;
      display: inline-block;
      color: #db2128;
      text-transform: uppercase;
      line-height: 1.3em;
      font-size: 20px;
      font-size: calculateRem(20px); }
      .strike h2:before, .strike h2:after {
        content: "";
        position: absolute;
        top: 75%;
        width: 9999px;
        height: 2px;
        background: #e60000; }
      .strike h2:before {
        right: 90%;
        margin-right: 15px; }
      .strike h2:after {
        left: 90%;
        margin-left: 15px; } }
/* $breakpoint_tablet 1024px */
@media (max-width: 1024px) {
  nav#desktop-navigation {
    display: none; }

  #mobile-navigation-menu-toggle {
    display: block;
    z-index: 101;
    position: fixed;
    right: 0;
    top: 0; }

  .toggle {
    margin: 0;
    font-size: 25px;
    font-size: calculateRem(25px);
    color: #fff; }

  #mobile-navigation-wrapper {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 0px;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background-color: #2b2a2b;
    background-color: rgba(43, 42, 43, 0.9);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    #mobile-navigation-wrapper.active {
      right: 250px;
      width: 250px;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    #mobile-navigation-wrapper .toggle {
      color: #dadada;
      padding: 5px 16px; }
    #mobile-navigation-wrapper ul {
      position: absolute;
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none; }
      #mobile-navigation-wrapper ul li {
        text-indent: 20px;
        line-height: 40px;
        border-bottom: 1px #464646 solid; }
        #mobile-navigation-wrapper ul li a {
          display: block;
          text-decoration: none;
          color: #ffffff; }
      #mobile-navigation-wrapper ul .list-group.panel {
        margin-bottom: 0px;
        border: 0px; }
        #mobile-navigation-wrapper ul .list-group.panel .list-group-item-success {
          background-color: #2b2a2b;
          border-color: #464646; }
        #mobile-navigation-wrapper ul .list-group.panel .collapse ul {
          position: relative; }
          #mobile-navigation-wrapper ul .list-group.panel .collapse ul li {
            border-bottom: 0px;
            border-top: 1px #2b2a2b solid;
            background-color: #464646;
            color: #ffffff;
            padding-left: 20px; }

  /* sidebar wrapper */
  /* logo */
  a.logo {
    background-color: #000;
    min-width: 100%;
    z-index: 99;
    display: block; }
    a.logo .logo-img {
      width: 75%;
      max-width: 370px;
      position: relative; }

  footer .container-fluid .icon-div.col-centered {
    padding: 0px 18px; }
  footer .container-fluid ul {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    padding: 10px 10px 20px 0px; }
    footer .container-fluid ul li {
      padding-left: 10px; }
      footer .container-fluid ul li a {
        color: #666666; }
        footer .container-fluid ul li a:hover, footer .container-fluid ul li a:active, footer .container-fluid ul li a:focus {
          color: #999999; } }
/* end media query */
@media (max-width: 1024px) {
  .container-fluid.page {
    top: 33px; } }

/*# sourceMappingURL=main.css.map */
