@import 'lib';
body {font-family: Arial; font-size: 15px;}
.text-center { text-align: center; }
    .container-fluid {
        max-width: 2000px;
        position: relative;
        &.page {
            top: 49px;
        }
        .nav-bar {
            .logo {
            }
            .navigation {
            }
            .flag {
            }
        }
        .container-page {
            margin: 0px auto;
            padding-left: 5px;
            padding-right: 5px;
            max-width: 1200px;
        }
    }
    .common-banner-top {
        position: relative;
        background: #fff url(../img/cfyc-memberships/bg-header.jpg) center top no-repeat;
        background-size: 100%;
        @media (max-width:767px) {
             background: #fff url(../img/cfyc-memberships/m-bg-header.jpg) center top no-repeat;
             background-size: cover;
             //min-height: 500px;
        }
        .cta {
            max-width: 40vw;
            margin: 24vw 0 50px 10%;
            padding: 20px;
            position: relative;
            @media (min-width:768px) and (max-width:1200px){
                max-width: 50vw;
            }
            @media (max-width: 767px) {
            width: 100%;
            max-width: 500px;
            margin-left: auto;
            margin: 450px auto 0 auto;
            padding: 50px 10px;
            position: relative;
            float: none;

             }
             @media (max-width:550px) {
                position: absolute;
                margin: 0px auto;
                bottom: 50px;
                padding: 0px 10px;
             }

         fieldset {
            position: relative;
            border: 1px solid $red;
            padding: 0 30px 30px;
            height: auto;
            @media (max-width: 767px) {
                padding: 10px 10px 20px 10px;
                height:auto;
            }
            @media (max-width: 484px) {

            }
            legend {
                color: $red;
                text-align: center;
                width: auto;
                line-height: 1.1em;
                text-transform: uppercase;
                font-weight: 400;
                border: none;
                margin-bottom: 0;
                padding-left: 20px;
                padding-right: 20px;

                @media (max-width: 2000px) {
                     font-size: 2vw;
                }
                @media (max-width: 767px){
                    padding: 10px 0 0 0;
                    font-size: 35px;

                    line-height: 1.1em;
                    text-transform: uppercase;
                    font-weight: 400;

                    }
                    @media (max-width:550px) {
                      font-size: 6.4vw;
                    }
                }
                hr {border-bottom:1px solid $red; height: 0px; border-top:0px; margin-top:10px; margin-bottom: 10px; max-width: 72%;}
                span { text-align: center; color: $white; text-transform: uppercase; text-align: center; display: block; margin: 0 auto;
                   @media (max-width: 767px) {
                        padding-bottom: 10px;
                        font-size: 1em;
                   }
                }
                .red-btn {

                    position: absolute;
                      width: 100%;
                      left: 0px;
                      bottom: -20px;
                    a {
                          color: $white;
                          font-size: 12px;
                          background: $red;
                          border-radius: 20px;
                          text-decoration: none;
                          position: relative;
                          margin: 0 auto;
                          padding: 10px 30px;
                          bottom: 0;
                          display: block;
                          width: 40%;
                          text-align: center;
                          text-transform: uppercase;
                          white-space: nowrap;
                          font-weight: 600;
                          @media (max-width:767px){
                              width: 55%;
                              padding: 10px 15px;
                          }
                    }
                }
            }
        }
        .carousel-caption {
            font-size: 40px;
            left: 10%;
            bottom: 13%;
            right: 0;
            color:$red;
            line-height: 40px;
            text-align: left;
            display: inline-block;
            width: 550px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            @media (max-width: 2000px) {
                max-width: 40vw;
            }

            @media (max-width: 1360px) {
                bottom: 2%;
            }
            @media (max-width: 991px) {
                max-width: 50vw;
                left: 5%;
            }
            strong {font-weight: 300;}
            hr { background: $red; height: 2px; border: none; max-width: 50%; margin: 20px auto;
                @media (max-width: 767px) { margin: 10px auto 0 auto;}
                @media (max-width: 480px) { margin: 3px auto; height: 1px;}
            }
            span{ color: $white;font-size: 16px;display: inline-block; margin-bottom: 30px; line-height: 150%;
                 @media (min-width: 768px) and (max-width: 991px) {margin-top: 0px;padding-top: 10px;}
                 @media (max-width: 767px){font-size: 14px;margin-top: 0px;padding-top: 10px;margin-bottom: 20px;}
                 @media (max-width: 480px){font-size: .8em; margin-bottom: 10px; padding-top: 0; margin-top: 0;}
            }
            .red-btn {
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: -20px;
                a{color:$white;font-size: 12px;background:$red;border-radius: 20px;text-decoration: none; position: relative;margin: 0 auto; padding: 10px 30px; bottom: 0;
                  @media (max-width: 767px) {padding: 1% 7%;}
                  @media (max-width: 480px) {font-size: .8em;}
                }
                @media (min-width: 768px) and (max-width: 991px) {bottom: -13px;}
                @media (max-width: 767px) {bottom: -8px; }
            }
            @media (min-width: 768px) and (max-width: 991px) {font-size:40px;line-height: normal;}
            @media (max-width: 767px) {width: auto;font-size: 16px;bottom: 0;line-height: normal;;}
            @media (max-width: 480px){width: auto;right: 5%;font-size: 10px;bottom: -5%;line-height: normal;left: 5%;}
        }
    }
.row-centered { text-align: center;}
.col-centered { display: inline-block; float: none; margin-right: -4px; text-align: left; overflow: hidden; vertical-align: top; margin-bottom: 1px; }
        .strike {
            display: block;
            text-align: center;
            overflow: hidden;
            margin: 20px auto;
            max-width: 75%;
            h2 {
                position: relative;
                display: inline-block;
                color: $red;
                text-transform: uppercase;
                line-height: 1.3em;
                @include font-size(25px);

                &:before, &:after {
                    content: "";
                    position: absolute;
                    top: 75%;
                    width: 9999px;
                    height: 2px;
                    background:  #e60000;
                }
                &:before {
                    right: 100%;
                    margin-right: 15px;
                }

                &:after {
                    left: 100%;
                    margin-left: 15px;
                }
                @media (max-width:767px) {
                    font-size: 6vw;
                }
            }
        }


/* logo */
.logo {width: 370px; position: fixed; top:0; left: 0; z-index: 1002; display:none; }
/* navigation */
/* mobile */
#mobile-navigation-wrapper { display: none; }
#mobile-navigation-menu-toggle { display: none; }
/* desktop */
nav#desktop-navigation {
    display: block;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 100%;
    max-width: 2000px;
    @include transform(translate3d(-50%, 0px, 0px)); /* bring your own prefixes */
    height: 70px;
    z-index: 100;
    background-color: #000;
    background-color: rgba(0,0,0,.9);
    ul {
        display: block; position: relative; float: right; right:2%; padding-top: 25px;
        li {
            display: inline-block; list-style: none; padding-left: 20px; color: #fff;
            &:first-child { margin-left: 100px; }
            a {
                color: #fff; text-decoration: none; @include font-size(12px); text-transform: uppercase;
                &:hover, &:active, &.active { color: $red; }
                img {width: 22px;}
            }
        }
    }
    .sub-menu {
        position:absolute; top:70px; width: 100%; background-color: #000; background-color:rgba(0,0,0, 0.5);
        border-bottom: 1px #313131 solid;
        ul {
            right:45px; padding: 20px; width: auto; padding: 5px; margin: 0px; min-width: auto;
            li {
                &:first-child { margin-left: 0px;}
            }
        }
    }
    .logo { display:block; }
} /* desktop-navigation */
/* footer */
footer {
    min-width: 100%; background-color: $black; margin-left: -15px; margin-right: -15px; padding-top: 50px;
    .row { padding-left: 0px;padding-right:0px; max-width: 1200px; margin: 0 auto;
        .container-fluid {
            max-width: 1200px; margin: 0 auto; overflow: hidden; padding-left: 0px;padding-right:0px;
            div.cmg-brands {
                margin-top: 50px; padding-left:0px; padding-right: 0px;
                div.tooltip {
                    div.tooltip-inner {
                        min-width: 300px;
                        background-color: #333;
                        background-color: rgba(0,0,0, .8);
                        white-space: normal;
                        text-align: left;
                        border: 1px #333 solid;
                    }
                }
            }
            .last-brand {
                div.tooltip.fade.bottom.in, div.tooltip.fade.bottom {left:-100px !important;}
            }

            .icon-div { padding:0px 20px;
                .icons {
                    @include font-size(40px); color: #666666; border-radius: 50%; border: 2px rgb(51, 51, 51) solid;
                    text-align: center; height:60px; width: 60px; padding-top: 9px; margin: 50px 0;
                    &:hover { color: #999999; border:2px #999999 solid; }
                    }
                }
                li { display: inline-block; padding-left: 20px; color: #666666; text-transform: uppercase;
                    a {
                        color: $footer_link;
                        &:hover { color: $footer_hover; }
                    }
                }
        }
    }
    p { color: $white; text-align: center; @include font-size(14px); margin-bottom: 0px; }
}
/* media queries */
/*@media only screen and (max-width: 20em) {
    .strike { max-width: 90%;
        h2 {
            position: relative;
            display: inline-block;
            color: $red;
            text-transform: uppercase;
            line-height: 1.3em;
            @include font-size(20px);

            &:before, &:after {
                content: "";
                position: absolute;
                top: 75%;
                width: 9999px;
                height: 2px;
                background:  #e60000;
            }
            &:before {
                right: 90%;
                margin-right: 15px;
            }

            &:after {
                left: 90%;
                margin-left: 15px;
            }
        }
    }
}*/



/* $breakpoint_tablet 1024px */
@media (max-width:$breakpoint_menu) {
    nav#desktop-navigation { display: none; }
    #mobile-navigation-menu-toggle {
        display: block;
        z-index: 101;
        position: fixed;
        right: 0;
        top:10px;
        
        i.fa.fa-bars { @media (max-width:320px){/*display: block; position: relative;right: -16px;top: 5px;*/}}
        p.menu-toggle-label {float: left; font-size: .4em; padding: 10px 10px 0;
	    	@media (max-width:320px) {
	    	   /* float: none;padding: 10px 5px 5px 0px;
	    	    margin-bottom: -10px;
	    	    font-size: .4em; */
	    	    display:none;
				}
        }
        @media (max-width:320px) {
        	
        }

    }
    .toggle {margin:0; @include font-size(25px); color: #fff;}
    #mobile-navigation-wrapper {
        display: block;
        z-index: 1000;
        position: fixed;
        top:0px;
        right: 0;
        width: 250px;
        height: 100%;
        margin-right: -250px;
        overflow-y: auto;
        background-color: #2b2a2b;
        background-color: rgba(43,42,43, .9);
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        &.active {
            right: 250px;
            width: 250px;
            -webkit-transition: all 0.4s ease 0s;
            -moz-transition: all 0.4s ease 0s;
            -ms-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }
        .toggle { color: #dadada; padding: 5px 16px; }
        ul {
            position: absolute;
            top: 0;
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                text-indent: 20px;
                line-height: 40px;
                border-bottom: 1px #464646 solid;
                a {
                    display: block;
                    text-decoration: none;
                    color: $white;
                }
            }
            .list-group.panel {
                margin-bottom: 0px;
                border: 0px;
                .list-group-item-success {
                    background-color: #2b2a2b; border-color: #464646;
                }
                .collapse {
                    ul {
                        position: relative;
                        li {
                            border-bottom: 0px;
                            border-top:1px #2b2a2b solid;
                            background-color:#464646;
                            color: $white;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
    /* sidebar wrapper */
    /* logo */
    a.logo {
        background-color:$black; min-width: 100%; z-index: 99; display:block;
        .logo-img { width: 75%; max-width: 370px; position: relative; }
    }

    footer {
        .container-fluid {
            .icon-div.col-centered {padding: 0px 18px;}
            ul {
                max-width: 300px; display: block; margin: 0 auto; padding: 10px 10px 20px 0px;
                li { padding-left: 10px;
                    a {
                        color: $footer_link;
                        &:hover, &:active, &:focus {color: $footer_hover;}
                    }
                }
            }
        }
    }


} /* end media query */
@media (max-width:$breakpoint_tablet) {
    .container-fluid.page {
        top: 33px;
    }
}
