@import 'lib';
.text-center { text-align: center; }
.container-fluid {
    max-width: 2000px;
    .nav-bar {
        .logo {
        }
        .navigation {
        }
        .flag {
        }
    }
    .container-page {
        margin: auto;
        max-width: 1200px;
    }
}