<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>California Fitness &amp; Yoga | Navigation</title>

    <!-- Bootstrap Core CSS https://api.cfyc.com.vn/pages/cfyc_files/-->
   <link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">

    <!-- Custom CSS -->
    <link href="../public/css/style.css" rel="stylesheet">
	<link href="../public/css/navigation.css" rel="stylesheet">
	<script type="text/javascript" src="https://api.cfyc.com.vn/pages/cfyc_files/js/jquery.tools.min.js"></script>
        <script type="text/javascript" src="https://api.cfyc.com.vn/pages/cfyc_files/js/jquery-mobile-min.js"></script>

		<script type="text/javascript" src="https://api.cfyc.com.vn/pages/cfyc_files/js/bootstrap.min.js"></script>

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="en">

    <!-- Mobile Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="www.cmg.asia"  onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Clubs</a>
            </li>
            <li>
                <a href="about.html" onclick = $("#menu-close").click(); >Services</a>
            </li>
            <li>
                <a href="careers.html" onclick = $("#menu-close").click(); >Lifestyle</a>
            </li>
            <li>
                <a href="careers.html" onclick = $("#menu-close").click(); >Become A Member</a>
            </li>
            <li>
                <a href="contact.html" onclick = $("#menu-close").click(); >Class Schedules</a>
            </li>
            <li>
                <a href="brands.html" onclick = $("#menu-close").click(); >Language</a>
            </li>
             <li>
                 <!-- <a href="#contact" onclick = $("#menu-close").click(); >Language</a> -->
            </li>
        </ul>
    </nav>
    <nav id="desktop-nav">
    	<div class="logo">
			<img src="http://images.cfyc.com.vn/cfyc/logo.png" class="img-responsive" alt="California Fitness &amp; Yoga">
    	</div>
    	<ul class="desktop-menu">
    		<li><a href="#top" class="">Home</a></li>
    		<li><a href="#"  class="">Clubs</a></li>
    		<li><a href="#"  class="">Services</a></li>
    		<li><a href="#lifestyle"  data-toggle="collapse" data-target="#lifestyle" class="">Lifestyle</a></li>
    		<li><a href="#"  class="">Become A Member</a></li>
    		<li><a href="#"  class="">Class Schedules</a></li>
    		<li><a href="#"  class=""><img src="http://images.cfyc.com.vn/cfyc/vietnamese.jpg" class="img-circle"></a></li>
    		<li class="language"></li>
    	</ul>
    	<div id="lifestyle" class="lifestyle-menu collapse">
    	<ul class="lifestyle-list ">
    		<li>Giảm Cân</li>
    		<li>Thể dục & Sức khỏe</li>
    		<li>Luyện Tập</li>
    		<li>Phong Cách Sống</li>
    		<li>Dinh Dưỡng</li>
    		<li>Gia Đình</li>
    		<li>Yoga</li>
    		<li>Thời Trang</li>
    		<li>Tin Tức</li>
    		<li>SỰ KIỆN</li>
    	</ul>
    </div>
    </nav>


    <header id="top" class="header">
    	<p>dummy content</p>
    </header>
</body>
</html>