
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, target-densityDpi=device-dpi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="keywords" content=""/>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="https://images.hopespeak.com/images/drawable_192_192.png?version=188">
    <link rel="icon" sizes="128x128" href="https://images.hopespeak.com/images/drawable_128_128.png?version=188">
    <link rel="apple-touch-icon" sizes="128x128" href="https://images.hopespeak.com/images/drawable_128_128.png?version=188">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="https://images.hopespeak.com/images/drawable_128_128.png?version=188">
    <link rel="canonical" href="https://www.hopespeak.com/account/start-a-new-chat" />
    <meta property="og:title" content="Start a new chat - Hope Speak" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.hopespeak.com/account/start-a-new-chat" />
    <meta property="og:image" content="https://images.hopespeak.com/images/random-pictures/13.jpg" />
    <meta property="og:site_name" content="Hope Speak" />
    <meta property="og:description" content="" />
    <meta property="fb:app_id" content="652758784815755" />
    <link rel="alternate" hreflang="en-us" href="https://www.hopespeak.com/account/start-a-new-chat">
    <link rel="alternate" href="https://www.hopespeak.com/feed" title="Hope Speak RSS feed" type="application/rss+xml" />
    <link rel="shortcut icon" href="https://www.hopespeak.com/favicon.ico?version=188" type="image/x-icon">
    <link rel="icon" href="https://www.hopespeak.com/favicon.ico?version=188" type="image/x-icon">
    <!-- CSS -->
    <link href="../public/css/vendor.min.css" rel="stylesheet">
    <link href="../public/css/bundle.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    var TEMPLATE_DIRECTORY_URI = '../public';
    </script>
    <script src="../public/js/vendor.min.js"></script>
</head>
<body>
<div class="container-fluid page centuryon-membership-cfy-page">
<!-- Mobile Navigation -->
<a id="mobile-navigation-menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-bars"></i>
</a>
<nav id="mobile-navigation-wrapper">
    <ul class="sidebar-nav">
        <a id="mobile-navigation-menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
            <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
             <a href="#language"><img src="../public/img/english.jpg" class="img-circle"></a>
        </li>
        <li>
            <a href="#">Trang Chủ</a>
        </li>
        <li>
            <div class="list-group panel">
                <a href="#club-menu" class="list-group-item-success" data-toggle="collapse" aria-expanded="false">Câu Lạc Bộ<span class="glyphicon glyphicon-chevron-right"></span></a>
                <div class="collapse" aria-expanded="false">
                    <ul>
                        <li><a href="#">TP. Hồ Chí Minh</a></li>
                        <li><a href="#">Hà Nội</a></li>
                        <li><a href="#">Đà Nẵng</a></li>
                        <li><a href="#">Bình Dương</a></li>
                        <li><a href="#">Biên Hòa</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="list-group panel">
                <a href="#dich-vu-menu" class="list-group-item-success" data-toggle="collapse" aria-expanded="false">Dịch Vụ <span class="glyphicon glyphicon-chevron-right"></span></a>
                <div class="collapse" aria-expanded="false">
                    <ul>
                        <li><a href="#">Group Fitness</a></li>
                        <li><a href="#">Giảm Căng Cơ</a></li>
                        <li><a href="#">Dance</a></li>
                        <li><a href="#">Yoga</a></li>
                        <li><a href="#">Huấn Luyện cá nhân</a></li>
                        <li><a href="#">Kickfit</a></li>
                        <li><a href="#">Võ tự do MMA</a></li>
                        <li><a href="#">Spa</a></li>
                        <li><a href="#">Clb dành cho trẻ em</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="list-group panel">
                <a href="#lifestyle-menu" class="list-group-item-success" data-toggle="collapse" aria-expanded="false">Phong Cách Sống<span class="glyphicon glyphicon-chevron-right"></span></a>
                <div class="collapse" aria-expanded="false">
                    <ul>
                        <li><a href="#">Giảm Cân</a></li>
                        <li><a href="#">Thể dục & Sức khỏe</a></li>
                        <li><a href="#">Luyện Tập</a></li>
                        <li><a href="#">Phong Cách Sống</a></li>
                        <li><a href="#">Dinh Dưỡng</a></li>
                        <li><a href="#">Gia Đình</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#" onclick = $("#mobile-navigation-menu-close").click(); >Thành Viên</a>
        </li>
        <li>
            <a href="#" onclick = $("#mobile-navigation-menu-close").click(); >Lịch học</a>
        </li>
    </ul>
</nav>
<div class="logo">
    <img src="../public/img/logo.png" class="img-responsive logo-img" alt="California Fitness &amp; Yoga">
</div>
<nav id="desktop-navigation">
    <div class="logo">
        <img src="../public/img/logo.png" class="img-responsive logo-img" alt="California Fitness &amp; Yoga">
    </div>
    <ul class="desktop-menu">
        <li><a href="#">Trang Chủ</a></li>
        <li><a href="#" data-index="0">Câu Lạc Bộ</a></li>
        <li><a href="#" data-index="1">Dịch Vụ</a></li>
        <li><a href="#" data-index="2">Phong Cách Sống</a></li>
        <li><a href="#">Thành Viên</a></li>
        <li><a href="#">Lịch học</a></li>
        <li><a href="#"><img src="../public/img/vietnamese.jpg" class="img-circle"></a></li>
    </ul>
    <div class="holder-submenu">
        <div class="sub-menu collapse">
            <ul>
                <li><a href="#">TP. Hồ Chí Minh</a></li>
                <li><a href="#">Hà Nội</a></li>
                <li><a href="#">Đà Nẵng</a></li>
                <li><a href="#">Bình Dương</a></li>
                <li><a href="#">Biên Hòa</a></li>
            </ul>
        </div>
        <div class="sub-menu collapse">
            <ul>
                <li><a href="#">Group Fitness</a></li>
                <li><a href="#">Giảm Căng Cơ</a></li>
                <li><a href="#">Dance</a></li>
                <li><a href="#">Yoga</a></li>
                <li><a href="#">Huấn Luyện cá nhân</a></li>
                <li><a href="#">Kickfit</a></li>
                <li><a href="#">Võ tự do MMA</a></li>
                <li><a href="#">Spa</a></li>
                <li><a href="#">Clb dành cho trẻ em</a></li>
            </ul>
        </div>
        <div class="sub-menu collapse">
            <ul>
                <li><a href="#">Giảm Cân</a></li>
                <li><a href="#">Thể dục & Sức khỏe</a></li>
                <li><a href="#">Luyện Tập</a></li>
                <li><a href="#">Phong Cách Sống</a></li>
                <li><a href="#">Dinh Dưỡng</a></li>
                <li><a href="#">Gia Đình</a></li>
            </ul>
        </div>
    </div>
</nav>    <div class="row banner-top">
         <img src="../public/img/centuryon-membership/centuryon-membership-header.jpg" class="img-responsive main-title" onmousedown="return false;"/>

    </div>
    
    <div class="container-page">
        <div class="row video row-centered">
            <div class="col-sm-5 col-centered">
                <div class="desc-video">
                    <p>Transformative, exclusive and the first of its kind, the Centuryon Membership is more than just an elite group of members. It’s an intelligent, powerful statement of one’s commitment to enhancing the quality of your life. With this unique membership, you will be provided with a truly valuable, convenient and life enhancing environment; allowing you to achieve the highest quality of life.</p>
                </div>
            </div>
            <div class="col-sm-5 col-centered">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pTRNqXSpeto"></iframe>
                </div>
            </div>
        </div><!--end row-->
        <div class="row top-content row-centered">
        	<img src="../public/img/centuryon-membership/divider.jpg" class="img-responsive center-block">
            <div class="col-md-10 col-centered">
                <p>Experience a new level of support in your journey to enhance your life and raise your standard of living. All Centuryon memberships come inclusive with inclusive with complementary, 1 on 1 personal training services 
 a dedicated team of professionals committed to helping you reach your full potential; giving you the confidence to achieve goals and live a higher quality of life. </p>
            </div>
            <div class="col-md-4 col-centered col-xs-12">
            	<img src="../public/img/centuryon-membership/centuryon-left1.jpg" class="img-responsive center-block">
            </div>
            <div class="col-md-4 col-centered col-xs-12">
            	 <img src="../public/img/centuryon-membership/centuryon-center1.jpg" class="img-responsive center-block">
            </div>
            <div class="col-md-4 col-centered col-xs-12">
            	<img src="../public/img/centuryon-membership/centuryon-right1.jpg" class="img-responsive center-block">
            </div>
        </div><!--end row-->
    </div><!--end container page-->
    <div class="row row-centered section1">
    	<div class="container-page">
			<img src="../public/img/centuryon-membership/divider.jpg" class="img-responsive center-block">
			<div class="col-md-10 col-centered">
        	 <p>Centuryon is designed to meet the needs and demands of those who accept nothing less than the very best. </p>
			</div>
			<div class="content">
				<img src="../public/img/centuryon-membership/quote.png" class="quote-left">
				<h4>Every aspect of your visit has been meticulously planned out, from advanced bookings on all classes and
				VIP towel &amp; robe services. Enjoy access to exclusive sections to enhance your life in privacy</h4> 
				<img src="../public/img/centuryon-membership/quote.png" class="quote-right">

			</div>
    	</div>
        

    	
    </div> <!-- end row -->
  <footer>
    	    <div class="row row-centered">
    			<div class="container-fluid">
	    			<div class="col-md-2 col-sm-4 col-xs-6 col-centered cmg-brands">
	    				<a href="http://www.centuryon.com/" >
	    					<img src="../public/img/footer/centuryon.jpg" class="img-responsive center-block" data-toggle="tooltip" data-placement="bottom"   title="Centuryon - Transformative, exclusive and the first of it's kind. Centuryon is more than just an elite health and fitness service. It's an intelligent, powerful statement of one's commitment to enhancing one's life."alt="Centuryon - Transformative, exclusive health and fitness" >
	    				</a>
	    			</div>
	    			<div class="col-md-2 col-sm-4 col-xs-6 col-centered cmg-brands">
	    				<a href="http://www.cmg.asia/" >
	    			    	<img src="../public/img/footer/ca_active.jpg" class="img-responsive center-block" data-toggle="tooltip" data-placement="bottom"  title="CA Active is the official distributor of Nike, Muscle Pharm, Ultimate Nutrition and UFC while also housing California Management’s own CA Republik and Centuryon Athletica clothing and accessories. Located at a California Fitness & Yoga club near you" alt="CA Active - Retail outlets for the active person. Visit your nearest California Fitness & Yoga to shop now">
	    				</a>
	    			</div>
	    			<div class="col-md-2 col-sm-4 col-xs-6 col-centered cmg-brands">
    					<a href="http://www.cmg.asia/" >
	    					<img src="../public/img/footer/cmg.jpg" class="img-responsive center-block" data-toggle="tooltip" data-placement="bottom"  title="California Management Group are an organization whose primary function is to develop businesses and leaders who add significant value to the quality people’s lives throughout Vietnam and Southeast Asia by creating a healthy lifestyle “ecosystem” across multiple industries which integrate into every aspect of our client’s and customer’s lives" alt="California Management Group" >
    					</a>
	    			</div>
					<div class="col-md-2 col-sm-4 col-xs-6 col-centered cmg-brands">
						<a href="http://ca3.asia/" >
	    					<img src="../public/img/footer/ca3.jpg" class="img-responsive center-block" data-toggle="tooltip" data-placement="bottom"  title="CA3 bridges the gap between Vietnam to the global stage within the fashion and entertainment industry through the training, development and management of Models, Misses, Artists and Talents" alt="CA3 Internaitonal Image Excellence">
						</a>
	    			</div>
	    			<div class="col-md-2 col-sm-4 col-xs-6 col-centered cmg-brands">
	    				<a href="http://www.cmg.asia/" >
							<img src="../public/img/footer/morfit.jpg" class="img-responsive center-block" data-toggle="tooltip"  data-placement="bottom"  title="Morfit is a social and technology platform being developed for health conscious consumers, health professionals, (ie. personal trainers and content providers) and health and fitness enterprises." alt="Morfit - A social, health focused digital platform">
	    				</a>
	    			</div>

	    			<div class="col-md-2 col-sm-4 col-xs-6 col-centered cmg-brands last-brand">
	    				<a href="http://www.cmg.asia/" >
	    					<img src="../public/img/footer/eri_international.jpg" class="img-responsive center-block" data-toggle="tooltip" data-placement="bottom"  title="Eri International: Experience Beauty. New and exclusive beauty treatment for those who want the best." alt="Eri Internaitonal - Experience beauty like never before ">
	    				</a>
	    			</div>
	    			<div class="col-md-1 col-xs-3 col-centered">
	    				<a href="https://www.facebook.com/cfycvn" ><i class="fa fa-facebook icons"></i></a>
	    			</div>
	    			<div class="col-md-1 col-xs-3 col-centered">
	    				<a href="https://twitter.com/cfycvn"><i class="fa fa-twitter icons"></i></a>
	    			</div>
	    			<div class="col-md-1 col-xs-3 col-centered">
	    				<a href="#"><i class="fa fa-instagram icons "></i></a>
	    			</div>
	    			<div class="col-md-1 col-xs-3 col-centered">
	    				<a href="https://www.youtube.com/user/CaliFitnessYogaVN"><i class="fa fa-youtube-square icons"></i></a>
	    			</div>
	    			<ul>
	    				<li><a href="#">Shop</a></li>
	    				<li><a href="#">Gift Cards</a></li>
	    				<li><a href="#">Careers</a></li>
	    				<li><a href="#">Education</a></li>
	    				<li><a href="#">Contact Us</a></li>
	    				<li><a href="http://www.cfyc.com.vn/lifestyle/tin-tuc/">Press Releases</li>
	    			</ul>
	    			<ul>
	    				<li><a href="#">Terms And Conditions</a></li>
	    				<li><a href="#">Digital Experience</a></li>
	    				<li><a href="#">FAQ</a></li>
	    				<li><a href="#">Privacy Policy</a></li>
	    			</ul>
    			</div>
    		</div>
    	<p>&copy; California Fitness & Yoga 2015 </p>
    </footer>
</div>
<script src="../public/js/bundle.min.js"></script><script src="../public/js/scripts/membership-cfy.js"></script></body>
</html>