table {
    border-spacing: 5px;
    border-collapse: inherit;
}
.boxArticleDetail {
    position: relative;
    display: block;
    overflow: hidden;
}
.blockNewsOther {
    position: absolute;
}
.boxArticleDetailBG {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 279px;
    top: 0;
    background-color: #DDD;
}
.boxTitlePage .webContent {
    background-color: #b9bbbd;
    height: 50px;

}
h2.TitlePage {
    font-size: 23px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    word-spacing: -4px;
    letter-spacing: 0;
    font-family: Arial;
    font-weight: 400;
    margin-left: 20px;
    padding-top: 15px;
    word-spacing: 2px;
    letter-spacing: 0px;
}
h2.TitlePage a {
    color: white;
}
h2.TitlePage a.actived {
    color: #242423;
}
.showDate date {
    display: block;
    color: #bb2137;
    font-weight: 700;
    padding-top: 10px;
}
.titleArticle {
    display: block;
    padding: 3px 0 10px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #DDD;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.districtContent .titleArticle {
    margin: 0 0 40px;
}
.titleArticle h1.h2Page,.titleArticle span.h2Page {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    border-top: 1px solid #DDD;
    font-family: Arial;
    padding: 10px 0 5px;
    display: block;
}
.titleArticle h1.h2Page span,.titleArticle h1.span,.titleArticle span.h2Page-span {
    font-weight: 400;
    color: #888;
    display: block;
    font-size: 20px;
    word-spacing: -1px;
    font-family: Arial;
}
.dTitle h1.h2Page span {
    display: inline-block;
}
h2.BoldNormal {
    padding-left: 20px;
}
.pageRight .titleArticle h1.h2Page {
    padding-left: 0;
}
.titleArticle h1.h2Page .promotion{
    color: white;
    text-transform: none;
    background-color: #da2128;
    padding: 2px 5px;
    font-size: 12px;
    margin-left: 10px;
    position: relative;
    top: -3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.galleryArticle {
    margin-bottom: 10px;
    text-align: center;
}
.social {
    height: 30px;
}
.social .buttons {
    text-align: right;
    margin-bottom: 10px;
}
.social .buttons>div {
    display: inline;
    margin-right: 15px;
    float: right;
}
.social .buttons>div.last {
    margin-right: 0;
}
.social .buttons .like,.social .buttons .mail,.social .buttons .share {
    position: relative;
}
.social .buttons .bar {
    position: absolute;
    top: 27px;
    left: 0;
    display: none;
    width: 200px;
    text-align: left;
    overflow: hidden;
}
.social .buttons .bar>a>span {
    position: relative;
    top: -4px;
    font-size: 13px;
    left: 5px;
}
.social .buttons .mail .bar {
    left: -179px;
    text-align: right;
}
.social .buttons .mail .bar>a>span {
    left: -5px;
}
.pageRight .titleArticle .descArticle {
    border-top: 1px solid #DDD;
    font-family: Arial;
    padding-top: 10px;
    text-transform: none;
}
.pageRight .titleArticle .descArticle a {
    color: #36f;
}
.descArticle h1,.descArticle h2,.descArticle h3 {
    line-height: 18px;
}
.fancybox-title .list-article {
    float: left;
}
.fancybox-title .gallery-circle {
    float: left;
    width: 7px;
    height: 7px;
    background-color: grey;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 0 3px 6px;
}
.fancybox-title .gallery-circle.clear {
    clear: both;
}
.fancybox-title .gallery-circle.actived,.fancybox-title .gallery-circle:hover {
    background-color: #bb2137;
}
.fancybox-title .social {
    float: right;
}
.fancybox-title .social .buttons .bar>a>span {
    color: #fff;
}
.fancybox-next span,.fancybox-prev span {
    background: url(./images/btPrevNext40.png) 100% 50% no-repeat;
    right: -15px;
}
.fancybox-prev span {
    background-position: 0 50%;
    left: -15px;
}
.fancybox-title-float-wrap {
    left: 0;
    text-align: left;
}
.fancybox-title-float-wrap .child {
    padding: 2px 10px;
    background: 0 0;
}
.pageRight img {
    max-width: 100%!important;
}
.magnifier {
    cursor: url(./images/icon_magnifier.cur),url(./images/icon_magnifier.cur),pointer;
}
.color-red {
    color: #bb2137!important;
}
.pageLeft {
    width: 270px;
    float: left;
    overflow: hidden;
    padding-right: 10px;
}
.pageRight {
    width: 700px;
    min-height: 400px;
    height: auto;
    float: right;
}
.listNewsOther ul li {
    list-style-position: outside;
    list-style-type: none;
    display: block;
    width: 265px;
}
.listNewsOther {
    width: 278px;
    position: relative;
    min-height: 400px;
}
.listCelebrityMember {
    height: 480px;
}
.listProductOther {
    height: 480px!important;
}
.listProductOther ul li a {
    height: 36px!important;
}
.listNewsOther ul li a {
    display: block;
    padding: 4px 0 4px 20px;
    position: relative;
    margin-bottom: 2px;
    width: 246px;
    font-size: 9pt;
    font-weight: 700;
    overflow: hidden;
    line-height: 18px;
}
.weekly-news .listNewsOther ul li a {
    height: auto;
}
.weekly-news .listNewsOther ul li a.parent {
    text-transform: uppercase;
    cursor: pointer;
}
.weekly-news .listNewsOther ul li a.child {
    padding-left: 40px;
    width: 226px;
    font-weight: 400;
    font-style: italic;
}
.weekly-news .listNewsOther ul li a.child label {
    font-weight: 700;
    font-style: normal;
}
.listNewsOther ul li a b,.listNewsOther ul li a date {
    display: block;
    color: #bb2137;
    font-weight: 400;
}
.listNewsOther ul li a span {
    display: block;
    font-weight: 400;
    color: #666;
}
.listNewsOther ul li a.actived,.listNewsOther ul li a:hover {
    background: #b9bbbd;
    color: #000;
}
.listNewsOther ul li a.actived span,.listNewsOther ul li a:hover span {
    color: #000;
}
.listNewsOther ul li a.aExecutive {
    padding: 5px 0 7px 56px;
    width: 204px;
    height: 44px;
    overflow: hidden;
    line-height: 16px;
    position: relative;
    text-transform: uppercase;
}
.listNewsOther ul li a.aExecutive span {
    font-size: 9pt;
}
.listNewsOther ul li a.aCareer {
    height: 20px;
    padding: 12px 4px 12px 20px;
}
.listNewsOther ul li a.aGallery {
    height: 36px;
    padding: 10px 4px 10px 20px;
}
.fileDownload {
    display: block;
    padding: 0;
    margin-top: 40px;
    border-bottom: 1px solid #888;
    border-top: 1px solid #DDD;
    height: 30px;
    line-height: 32px;
}
a.linkDownload {
    display: inline-block;
    padding: 0 45px 0 0;
    position: relative;
    height: 30px;
    text-transform: uppercase;
    font-size: 13pt;
}
a.linkDownload span {
    position: absolute;
    display: block;
    width: 32px;
    height: 30px;
    right: 0;
    top: -1px;
    background: url(./images/btSend.png) top right no-repeat;
}
span.downloadTitle {
    text-transform: uppercase;
    font-size: 13pt;
    font-family: Arial;
    height: 30px;
}
.dSlideImage a.browse,.listClassesHome a.browse,.slideArticleContent a.browse {
    display: block;
    width: 40px;
    height: 100%;
    cursor: pointer;
    font-size: 1px;
    position: absolute;
    z-index: 10;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}
.dSlideImage:hover a.right,.listClassesHome:hover a.right,.slideArticleContent:hover a.right {
    background: url(./images/btPrevNext40.png) 0 50% no-repeat; /*Thai Anh Edited*/
    background-position: -51px 50%;
    right: 0;
    opacity: 1;
    filter: alpha(opacity=70);
}
.dSlideImage:hover a.left,.listClassesHome:hover a.left,.slideArticleContent:hover a.left {
    background: url(./images/btPrevNext40.png) 0 50% no-repeat; /*Thai Anh Edited*/
    left: 0;
    display: block;
    opacity: 1;
    filter: alpha(opacity=60);
}
.description_content {
    padding-top: 48px;
}
.slideArticleContent {
    position: relative;
    width: 580px;
    margin-bottom: 15px;
}
.animateArticle {
    margin: 0 auto;
}
.animateArticle li {
    width: 100%;
}
.slideArticleContent .browse-button {
    background-color: grey;
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 20px;
    height: 20px;
    z-index: 3;
}
.listClassesHome {
    overflow: hidden;
    position: relative;
}
.listClassesHome ul li {
    list-style-position: outside;
    list-style-type: none;
}
.showClassesHome {
    height: 320px;
    width: 1024px;
    overflow: hidden;
}
h2.titleLink {
    display: block;
    padding: 2px 0 10px;
    line-height: 30px;
    font-weight: 400;
    font-size: 28px;
}
.infoClassesContent h2.titleLink {
    font-size: 22px;
    word-spacing: -2px;
}
img.imgClasses {
    width: 580px;
    height: 320px;
}
.infoClassesLeft {
    width: 580px;
    float: left;
}
.infoClassesRight {
    width: 396px;
    float: right;
}
.scrollContentClasses {
    display: block;
    height: 320px;
    width: 100%;
}
.infoClassesContent {
    width: 85%;
}
.boxCaliTrainer {
    display: block;
}
.boxBookClass {
    width: 275px;
    float: right;
}
.listCaliTrainer {
    width: 286px;
    float: left;
    height: 400px;
    position: relative;
    border-right: 1px solid #DDD;
}
.contentTrainer {
    width: 716px;
    float: right;
    padding: 0 0 0 20px;
    border-right: 1px solid #DDD;
}
#listCaliTrainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    display: block;
}
a.classesSchedule {
    display: inline-block;
    padding: 2px 18px 2px 6px;
    background: #b72636;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    right: 88px; /*Thai Anh Edit*/
}
a.classesSchedule span {
    position: absolute;
    right: -5px;
    top: 5px;
    width: 10px;
    height: 12px;
    background: url(./images/bgArrow1.png) -1px 0 no-repeat;
    background-size: auto 10px;
    padding: 2px 0px 2px 6px;
}
.classes-schedule-bottom {
    position: relative;
    right: 29px; /*Thai Anh Edit*/
    top: -8px;
}
.gotoBack {
    background: #b72636;
    color: #FFF;
    text-transform: uppercase;
    padding: 0 6px 0 0;
    display: inline-block;
    margin-top: 10px;
}
.gotoBack a {
    color: #FFF;
    background: url(./images/arrowGoto.png) right center no-repeat;
    display: block;
    padding: 2px 12px;
}
.ourStoryLeft {
    width: 710px;
    float: left;
}
.ourStoryRight {
    width: 260px;
    float: right;
}
.ourStoryRight img {
    margin-bottom: 2px;
}
.ajaxPressClubs {
    min-height: 540px;
}
.fromRegister {
    width: 600px;
    position: relative;
}
.fromRegister table {
    width: 100%;
    vertical-align: middle;
}
.fromRegister table label {
    text-transform: uppercase;
    font-size: 8pt;
}
.fromRegister table label.field-error {
    text-transform: none;
}
.fromRegister table td.tdBg {
    background-color: #e4e5e6;
    margin-bottom: 10px;
    padding: 0 8px;
}
.fromRegister table td.tdBg1 {
    margin-bottom: 10px;
    padding: 0 8px;
}
.fromRegister table td.tdBg1>input,.fromRegister table td.tdBg1>textarea {
    background-color: #e4e5e6;
}
.fromRegister table input {
    padding: 6px 0;
    background: 0 0;
    border: none;
    width: 100%;
    display: block;
    text-align: left;
    font-weight: 700;
}
.fromRegister table input.btRegister {
    width: 155px;
    display: inline-block;
    text-align: center;
    font-size: 11pt;
    padding: 4px 0;
    padding-right: 30px;
    background: #b9bbbd url(./images/btSend.png) right center no-repeat;
    cursor: pointer;
    color: #FFF;
    text-transform: uppercase;
}
.userMenuLogin {
    display: block;
    padding: 6px 0;
    margin: 40px 0;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #DDD;
}
.userMenuLogin span {
    display: inline-block;
    font-weight: 700;
    border-left: 1px solid #999;
    height: 16px;
    line-height: 16px;
    padding: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.userMenuLogin span:first-child {
    border-left: none;
}
.checkSignin span {
    display: block;
    padding: 10px 6px;
    font-weight: 700;
    color: #BB2137;
}
.ajaxClubs {
    min-height: 300px;
}
.districtContent {
    padding-top: 40px;
}
.dSlideImage {
    width: 510px;
    float: left;
    display: block;
    position: relative;
}
.dSlideImage span.tmp_id {
    display: none;
}
.dContact {
    width: 130px;
    float: left;
    margin-left: 15px;
    background-color: #eaebeb;
    padding: 15px 10px;
}
.dContent {
    width: 190px;
    float: right;
}
.dSlideImage ul li img {
    width: 510px;
}
span.popupMask {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background: url(./images/bgPlay.png) center center no-repeat;
    z-index: 1;
}
.dPopContent {
    cursor: pointer;
    position: relative;
}
.dPopContent span.popupMask {
    display: block;
}
img.imgCelebrity {
    width: 320px;
}
.scrollCelebrityMember {
    height: 384px;
}
.ajaxLeft {
    width: 280px;
    float: left;
    margin-left: 35px;
}
img.imgExecutive {
    width: 278px;
    border: 0 solid #DDD;
}
.ajaxRight {
    width: 280px;
    float: right;
}
.iconImg {
    position: absolute;
    width: 46px;
    height: 52px;
    overflow: hidden;
    left: 2px;
    top: 2px;
}
.iconImg img {
    width: 46px;
}
.scrollExecutive {
    height: 300px;
    width: 280px;
}
.ajaxLeftCard {
    width: 310px;
}
.ajaxRightCard {
    width: 310px;
}
img.memberCard {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}
.scrollMemberCard {
    height: 420px;
    width: 240px;
}
.buttonOrder {
    padding-top: 10px;
}
.priceNumber,.priceText {
    font-size: 10pt;
    font-weight: 700;
    text-transform: uppercase;
}
.priceNumber {
    color: red;
}
ul.paymentOption li {
    list-style-position: outside;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
}
ul.paymentOption li input {
    display: inline-block;
    float: left;
    padding: 0;
    width: 16px;
    margin-right: 4px;
}
.popupInfoActived {
    display: block!important;
}
.forgotPassContent,.popupInfo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #333;
    top: 0;
    left: 0;
    display: none;
}
.popupInfo .popupContact {
    position: fixed;
    width: 320px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -60px;
    background-color: #EEE;
}
.alertInfo {
    padding: 10px 15px;
    margin: 10px;
    position: relative;
    background-color: #FFF;
    text-align: center;
}
.alertInfo .btClose {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    font-weight: 700;
    font-weight: 16pt;
}
.popupTitle {
    display: block;
    padding: 12px 20px;
    position: relative;
    background-color: #bb2137;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: 700;
}
.popupContent {
    display: block;
    padding: 20px;
    text-transform: capitalize;
}
.forgotPassContent .forgotPassForm {
    position: fixed;
    width: 400px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    background-color: #e4e4e5;
}
.popupContent .textInput {
    display: block;
    width: 100%;
    text-indent: 10px;
    background-color: #FFF;
    border: none;
    padding: 6px 0;
}
.popupContent .bForgotPassword {
    display: block;
    padding: 5px 0;
}
.forgotPassContent input.btRegister {
    width: 110px;
    display: inline-block;
    text-align: center;
    font-size: 11pt;
    padding: 4px 0;
    padding-right: 30px;
    background: #CCC url(./images/btSend.png) right center no-repeat;
    cursor: pointer;
    border: none;
}
span.btClose {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 18px;
    height: 18px;
    background: url(./images/buttonClose.png) center center no-repeat;
    cursor: pointer;
}
.boxListPrivileges ul {
    display: block;
    border-top: 1px solid #DDD;
}
.boxListPrivileges ul li {
    list-style-position: outside;
    list-style-type: none;
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #DDD;
    position: relative;
}
.privilegesLeft {
    width: 280px;
    float: left;
}
.privilegesLeft img {
    width: 260px;
}
.privilegesRight {
    width: 726px;
    float: right;
}
.privilegesRight date {
    display: block;
    color: #bb2137;
    font-weight: 700;
    font-size: 9pt;
}
.privilegesRight h2.pTitle {
    font-size: 11pt;
    display: block;
    padding: 2px 0;
    text-transform: uppercase;
}
.privilegesRight h2.pTitle span {
    color: #da2128;
}
.boxListPrivileges .btViewmore {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    bottom: -1px;
    background: url(./images/btViewmore.png) 0 -51px no-repeat;
    cursor: pointer;
}
.boxListPrivileges .btActived {
    background-position: 0 0;
}
.boxListPrivileges .showDescription {
    display: none;
}
.backtoHomepage {
    text-align: right;
}
.backtoHomepage a {
    display: inline-block;
    padding: 3px 20px 2px 10px;
    background: #b72636;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
}
.backtoHomepage a span {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 10px;
    height: 14px;
    background: url(./images/bgArrow1.png) center right no-repeat;
}
.pageIndex {
    padding: 10px 0 10px 20px;
    text-align: center;
    margin-top: 10px;
}
.pageIndex a {
    font-weight: 700;
    font-size: 11pt;
    background-color: #EEE;
    padding: 4px;
}
.listSearch {
    border-bottom: 1px solid #DDD;
}
.listSearch li {
    display: block;
    list-style-type: none;
    list-style-position: outside;
}
.listSearch li .itemSearch {
    padding: 10px 20px;
    border-top: 1px solid #DDD;
    text-transform: uppercase;
}
.listSearch li .itemSearch date {
    display: block;
}
.listSearch li .itemSearch a {
    font-weight: 700;
    display: inline-block;
}
.showPopupContent {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/black80.png);
    z-index: 1000;
}
div.titleForm {
    font-weight: 400!important;
}
.holder-shopping-cart {
    text-align: right;
}
h1.seo-custom-yoga {
    margin-top: 30px;
    line-height: 20px;
    margin-bottom: 0;
    font-size: 15px;
    position: absolute;
    left: -9999px;
}
h2.seo-custom-yoga {
    font-weight: 400;
    color: #888;
    font-size: 20px;
    word-spacing: -1px;
    font-family: Arial;
}
.boxViewSchedule {
    padding-bottom: 15px;
    border-bottom: 1px solid #DDD;
}
