@import "style_standard";
$red: red;
$darkcyan: #336666;
$blue: #123b4d;
$cyan: #99bbb6;
$lightpurple: #b3b0ce;
$darkpurple: #660066;
$purple: #ab88b7;
@mixin box-shadow($shadow) {
    -webket-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
        -ms-box-shadow: $shadow;
            box-shadow: $shadow;
}
/*The transition effect will start when the specified CSS property changes value.*/
@mixin transition($variable) {
    -webkit-transition: $variable;
       -moz-transition: $variable;
         -o-transition: $variable;
            transition: $variable;
}
body {
    font-size: 14px;
    background: $white;
    .content-homepage {
        width: 1024px;
        margin: 0 auto;
        position: relative;
    }
    .header {
        background: $white;
        #logo {
            display: inline-block;
            padding-top: 50px;
        }
        .animal {
            display: inline-block;
            z-index: 5;
            position: relative;
        }
        .banner {
            display: inline-block;
            z-index: 1;
            margin-top: 50px;
        }
    }
    .big-space {
        height: 200px;
        position: relative;
        top: -47px;
    }
    .bg-red {
        background: $red;
    }
    .bg-purple {
        background: $darkpurple;
    }
    section {
        background: $white !important;
        .main-content {
            position: relative;
            margin-top: -215px;
            margin-bottom: -200px;
        }
        .left-content {
            .menubar {
                background: $white;
                width: 100%;
                float: right;
                padding: 0 10px 0 0;
                margin-right: -30px;
                ul {
                    list-style: none;
                    font-weight: bold;
                    position: relative;
                    top: -25px;
                    margin-left: -30px;
                    z-index: 10;
                    margin-bottom: -15px;
                    li {
                        text-align: center;
                        margin: 3px;
                        padding: 5px;
                        @include transition(0.3s ease-out);
                        height: 36px;
                        cursor: pointer;
                        a {
                            color: $white;
                            text-decoration: none;
                            padding: 5px 40px;
                        }
                    }
                    li.dark-cyan {
                        background: $darkcyan;
                    }
                    li.white {
                        background: $white;
                        a {
                            color: $black !important;
                        }
                    }
                    li.cyan {
                        background: $cyan;
                    }
                    li.purple {
                        background: $purple;
                    }
                    li.light-purple {
                        background: $lightpurple;
                    }
                    li.active {
                        border: 3px solid $darkpurple;
                        @include border-radius(5px);
                    }
                    li:hover {
                        border: 3px solid $darkpurple;
                        @include border-radius(5px);
                    }
                }
            }
        }
        .desc {
            margin-right: -15px;
            clear: both;
            .desc-volunteer {
                list-style: none;
                color: $blue;
                font-weight: bold;
                text-align: right;
                padding: 0;
                padding-top: 20px;
            }
        }
        .about {
            color: $blue;
            h1 {
                font-style: italic;
                @include font-size(31px);
                padding: 10px 0;
            }
            h3 {
                @include font-size(25px);
                text-align: right;
            }
            p {
                @include font-size(18px);
                text-align: justify;
                padding-top: 7px;
            }
        }
        .wrap-gallery {
            .nav-tabs {
                border: none;
                li a {
                    border: none;
                }
            }
            .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
                border: none;
                color: $darkpurple !important;
                font-weight: bold;
            }
            .gallery {
                ul.img {
                width: 100%;
                padding: 0px;
                    li {
                        display: inline;
                        padding: 2px;
                        img {
                            margin-top: 10px;
                            @include box-shadow(0px 3px 2px 0px rgba(0, 0, 0, 0.3));
                        }
                    }
                }
                nav {
                    margin-top: 10px;
                    ul li {
                        background: $darkcyan;
                        display: inline;
                        padding: 3px;
                        a {
                            color: $white;
                        }
                    }
                }
            }
        }
        .center-content {
            background: $white;
            padding: 13px;
            z-index: 2;
            .banner img {
                width: 100%;
            }
            .donate {
                margin-top: 20px;
                p {
                    @include font-size(20px);
                    text-align: justify;
                }
                h1 {
                    color: $darkpurple;
                    @include font-size(40px);
                    font-weight: bold;
                    margin: 20px 0;
                }
                table tr td:first-child {
                    color: $darkpurple;
                    font-weight: bold;
                    padding-right: 20px;
                }
                img {
                    margin-top: 20px;
                }
            }
            .volunteer {
                p {
                    font-size: 12px;
                    text-align: justify;
                }
                h1 {
                    color: $blue;
                    @include font-size(35px);
                    margin: 20px 0;
                }
                a {
                    text-align: right;
                    color: $darkpurple;
                }
            }
            .contact {
                margin-top: 20px;
                margin-left: 20px;
                label {
                    @include font-size(20px);
                }
                .btn-default {
                    background: $darkpurple;
                    color: $white;
                }
            }
        }
        .right-content {
            background: $white;
            padding: 13px 13px 13px 0;
            z-index: 2;
            img {
                margin-bottom: 5px;
            }
            .text-right {
                position: relative;
                display: block;
                overflow: hidden;
                padding: 20px 0;
                @include font-size(20px);
            }
        }
    }
    footer p {
        text-align: center;
        margin-top: 20px;
        @include font-size(20px);
        color: $blue;
    }
}
