@charset "UTF-8";
/**
 * use it when its container has position is relative and height is defined
 * i.e: @include drop-Shadow
 */
/**
 * Rem is similar to the em value, but instead of being relative to the parent element itΓÇÖsrelative to the font-size set in the.
 * It has all the benefits of em but you donΓÇÖt get issues with e.g (compounding) since rem is only relative to the html element.
 * Usage:
    p {
        @include font-size(14px)
    }
 */
/**
 * Instead of calling them @media (min-width: 600px) we can give them more semantic names like ΓÇ£breakpoint-largeΓÇ¥ or ΓÇ£breakpoint-a-really-large-computer-machineΓÇ¥.
 * Usage:
    .sidebar {
        width: 60%
        float: left;
        margin: 0 2% 0 0;
        @include bp-small {
            width: 100%;
            float: none;
            margin: 0;
        }
    }
 */
/**
 * This mixin ensures cross browser opacity all the way down to Internet Explorer 5. Though if you have to optomize for IE5, you have a lot bigger problems than opacity, godspeed my friend.
 *  Usage:
    .faded-text {
        @include opacity(0.8);
    }
 */
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #ffffff;
  color: #000000;
  word-wrap: break-word; }
  body .form-control {
    width: auto;
    max-width: 100%; }
  body .text-left {
    text-align: left !important; }
  body .text-right {
    text-align: right !important; }
  body .text-center {
    text-align: center !important; }
  body .text-white {
    color: #ffffff !important; }
  body .text-green {
    color: gree !important; }
  body .text-green-bold {
    color: green !important;
    font-weight: bold; }
  body .text-red {
    color: red !important; }
  body .text-blue {
    color: blue; }
  body .text-grey {
    color: grey !important; }
  body .text-strong {
    font-weight: bold !important; }
  body .text-uppercase {
    text-transform: uppercase !important; }
  body .padding10 {
    padding: 10px; }
  body img {
    display: inline-block;
    height: auto;
    max-width: 100%; }
  body a {
    color: #000000; }
    body a:hover {
      color: #000000; }
  body h1, body h2, body h3, body h4, body p {
    margin: 0;
    margin-bottom: 5px; }
  body h1 {
    font-size: 25px;
    font-size: 1.5625rem; }
  body h2 {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 21px; }
  body h3 {
    font-size: 19px;
    font-size: 1.1875rem; }
  body h4 {
    font-size: 15px;
    font-size: 0.9375rem; }
  body p {
    font-size: 14px;
    font-size: 0.875rem; }
  body label {
    font-size: 14px;
    font-size: 0.875rem; }
  body .space {
    clear: both;
    display: block;
    height: 10px; }
  body .space15 {
    clear: both;
    display: block;
    height: 15px; }
  body .space2 {
    clear: both;
    display: block;
    height: 20px; }
  body .space3 {
    clear: both;
    display: block;
    height: 30px; }
  body .space4 {
    clear: both;
    display: block;
    height: 40px; }
  body .fix-nowrap {
    white-space: nowrap; }
  body .fix-long-text {
    word-break: break-all; }
  body .fix-comment-long-url {
    -ms-word-break: break-all;
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }

body {
  font-size: 14px;
  background: #ffffff; }

.content-homepage {
  width: 1024px !important;
  margin: 0 auto;
  position: relative; }

.header {
  background: #ffffff; }
  .header #logo {
    display: inline-block;
    padding-top: 50px; }
  .header .animal {
    display: inline-block;
    position: absolute;
    z-index: 5; }
  .header .banner {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 1; }

section {
  background: #ffffff !important; }

.main-content {
  position: relative;
  top: -170px; }

.big-space {
  height: 200px;
  background: red; }

.left-content .menubar {
  background: #ffffff;
  width: 100%;
  float: right;
  padding: 0 10px 0 0;
  margin-right: -30px; }
  .left-content .menubar ul {
    list-style: none;
    font-weight: bold;
    position: relative;
    top: -25px;
    margin-left: -30px;
    z-index: 10;
    margin-bottom: -15px; }
  .left-content .menubar ul li {
    padding: 5px;
    text-align: center;
    margin: 3px;
    transition: 0.3s ease-out;
    height: 36px;
    cursor: pointer; }
  .left-content .menubar ul li a {
    color: #ffffff;
    text-decoration: none; }
  .left-content .menubar ul li.dark-cyan {
    background: #336666; }
  .left-content .menubar ul li.white {
    background: #ffffff; }
  .left-content .menubar ul li.cyan {
    background: #99bbb6; }
  .left-content .menubar ul li.purple {
    background: #ab88b7; }
  .left-content .menubar ul li.light-purple {
    background: #b3b0ce; }
  .left-content .menubar ul li.active {
    border: 3px solid #660066;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .left-content .menubar ul li.active a {
    color: #000000; }
  .left-content .menubar ul li:hover {
    border: 3px solid #660066;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
.left-content .desc {
  clear: both;
  color: #123b4d;
  margin-right: -15px !important; }
  .left-content .desc h1 {
    font-style: italic;
    font-size: 31px;
    font-size: 1.9375rem;
    padding: 10px 0; }
  .left-content .desc h3 {
    font-size: 25px;
    font-size: 1.5625rem;
    text-align: right; }
  .left-content .desc p {
    font-size: 16px;
    font-size: 1rem;
    text-align: justify;
    padding-top: 7px; }

.center-content {
  background: #ffffff;
  padding: 13px;
  z-index: 2; }
  .center-content .banner img {
    width: 100%; }

.right-content {
  background: #ffffff;
  padding: 13px 13px 13px 0;
  z-index: 2; }
  .right-content img {
    max-width: 100%;
    margin-bottom: 5px; }

footer p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-size: 1.125rem;
  color: #123b4d; }

/*# sourceMappingURL=default.css.map */
