@import '../lib';
.about-us {
    img, p, h1, h2, h3, h4, a, div, button, span {
        @include transition(all .3s ease);
    }

     .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/about-us/bg-header.jpg) center top no-repeat;
        background-size: 100%;
        }
        @media (max-width:767px) {
        	position: relative;
	         background: #fff url(../img/about-us/m-bg-header.jpg) center top no-repeat;
	         background-size: cover;
	         min-height: 500px;
        }
		.cta {
			max-width: 40vw;
			margin: 24vw 0 50px 10%;
			padding: 20px;
			position: relative;
			@media (min-width:768px) and (max-width:1200px){
				max-width: 50vw;
			}
			@media (max-width: 767px) {
			width: 100%;
			max-width: 500px;
			margin-left: auto;
			margin: 450px auto 0 auto;
			padding: 50px 10px;
			position: relative;
			float: none;

			 }
			 @media (max-width:550px) {
				position: absolute;
				margin: 0px auto;
				bottom: 50px;
				padding: 0px 10px;
			 }

		 fieldset {
            position: relative;
            border: 1px solid $red;
            padding: 0 30px 30px;
            height: auto;
            @media (max-width: 767px) {
                padding: 10px 10px 20px 10px;
                height:auto;
            }
            @media (max-width: 484px) {

            }
            legend {
                color: $red;
                text-align: center;
                width: auto;
				line-height: 1.1em;
				text-transform: uppercase;
				font-weight: 400;
                border: none;
                margin-bottom: 0;
                padding-left: 20px;
                padding-right: 20px;

                @media (max-width: 2000px) {
                     font-size: 2vw;
                }
                @media (max-width: 767px){
                    padding: 10px 0 0 0;
                    font-size: 35px;

					line-height: 1.1em;
					text-transform: uppercase;
					font-weight: 400;

	                }
	                @media (max-width:550px) {
		              font-size: 6.4vw;
	                }
	            }
	            hr {border-bottom:1px solid $red; height: 0px; border-top:0px; margin-top:10px; margin-bottom: 10px; max-width: 72%;}
	            span { text-align: center; color: $white; text-transform: uppercase; text-align: center; display: block; margin: 0 auto;
		           @media (max-width: 767px) {
		           		padding-bottom: 10px;
		           		font-size: 1em;
		           }
	            }
	            .red-btn {

	            	position: absolute;
					  width: 100%;
					  left: 0px;
					  bottom: -20px;
		            a {
			              color: $white;
						  font-size: 12px;
						  background: $red;
						  border-radius: 20px;
						  text-decoration: none;
						  position: relative;
						  margin: 0 auto;
						  padding: 10px 30px;
						  bottom: 0;
						  display: block;
						  width: 40%;
						  text-align: center;
						  text-transform: uppercase;
						  white-space: nowrap;
						  font-weight: 600;
						  @media (max-width:767px){
							  width: 55%;
							  padding: 10px 15px;
						  }
		            }
	            }
	        }
		} //cta
} //banner top
    .quotes-block {
        text-align: center;
        padding: 5% 0;
        h3 {
            clear: both;
            text-indent: 30px;
            margin: 0;
            padding: 0 20px;
            line-height: 1.3em;
            text-transform: uppercase;
            font-weight: 300;
        }
        span.open-quotes, span.close-quotes {
            @include font-size(90px);
            line-height: .5em;
            margin-bottom: -35px;
        }
        span.open-quotes {
            float: left;
        }
        span.close-quotes {
            float: right;
        }
    }
    .randy-quotes {
    	@media (min-width:768px){
        background: url(../img/about-us/randy-block.jpg) center top no-repeat;
        @include background-size(cover);
        color: $white;
        min-height: 600px;
        position: relative;
        }
  
        .quotes {
            blockquote {
                position: absolute;
                top: 100px;
                font-size: 17px;
                background:rgba(0, 0, 0, 0.2);
            }
        }
    }
    .info {
        padding: 5% 0 3% 0;
        text-align: justify;
        p {
            margin-bottom: 25px;
        }
    }
    .gallery {
        margin-bottom: 30px;
    }
	h2.booktitle{
                    border:1px solid #000;
                    padding:10px 20px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    font-size: 25px;
                    text-align: center;
                    @media (max-width:767px){
	                    padding: 0;
                    }
                }
                h3.visit_benefit{
                    font-size: 13px;
                    line-height: inherit;
                    text-transform: uppercase;
                    margin-bottom: 50px;
                    text-align: center;
                    span{
                        font-size: 90%;
                    }
                    span.title{
                        font-size: 120%;
                    }
                }
                #signUp_form { width: 260px; margin:0px auto 50px auto;}


    @media (max-width: 2000px) {
        .banner-top {
            h1.headline {
                @include font-size(5vw);
            }
        }
    }/*close media 2000px*/
    
    @media (max-width: $breakpoint_tablet) {
        .gallery {
            margin-bottom: 15px;
            .col-xs-6:first-child, .col-sm-6:first-child, .col-md-6:first-child { padding-right: 7.5px;
            }
            .col-xs-6:last-child, .col-sm-6:last-child, .col-md-6:last-child { padding-left: 7.5px;}
        }
    }/*close media 1024*/
    @media (max-width: 991px) {
        .randy-quotes {
            background-position: 60%;
        }
    }
 
    @media (max-width: 767px) {
        .banner-top {
            h1.headline {
                @include font-size(11vw);
                background-color: rgba(0,0,0,.3);
            }
        }
            
        .info {
            padding: 7% 0 3% 0;
        }
        .randy-quotes {
            background-position: 70%;
        }
        .quotes-block {
            padding: 7% 0;
            span.open-quotes, span.close-quotes {
                @include font-size(50px);
            }
            h3 {
                @include font-size(14px);
            }
        }
        .randy-quotes {
        	background: url(../img/about-us/m-randy-block.jpg) center top no-repeat;
			min-height: 650px;
            .quotes {
                position: relative;
                min-height: 650px;
                blockquote {
                    bottom: 0px;
                    top: auto;
                    color: $white;
                    font-size: 15px;
                    margin-right: 15px;
                    @include font-size(13px);
                    background: rgba(0,0,0,.3);
                }
            }
        }
    }/*close media 767 */
}
