.celebrity-trainning-page .white-space {
  padding: 10px 0;
  clear: both; }
.celebrity-trainning-page .white-space-2x {
  padding: 20px 0;
  clear: both; }
.celebrity-trainning-page .white-space-3x {
  padding: 30px 0;
  clear: both; }
.celebrity-trainning-page .banner-top {
  position: relative;
  background: #fff url(../img/celebrity-training/banner-top.jpg) center top no-repeat;
  background-size: 100%; }
  @media (max-width: 767px) {
    .celebrity-trainning-page .banner-top {
      background: #fff url(../img/celebrity-training/m-banner-top.jpg) center top no-repeat;
      background-size: cover;
      min-height: 500px; } }
  .celebrity-trainning-page .banner-top .cta {
    max-width: 42vw;
    margin: 12vw 0 90px 15%;
    padding: 20px;
    position: relative; }
    @media (min-width: 2000px) {
      .celebrity-trainning-page .banner-top .cta {
        max-width: 475px;
        margin: 450px 0 90px 15%;
        padding: 20px;
        position: relative; } }
    @media (min-width: 768px) and (max-width: 1200px) {
      .celebrity-trainning-page .banner-top .cta {
        max-width: 50vw; } }
    @media (max-width: 767px) {
      .celebrity-trainning-page .banner-top .cta {
        max-width: 500px;
        margin-left: auto;
        margin: 450px auto 0 auto;
        padding: 50px 10px;
        position: relative;
        float: none; } }
    @media (max-width: 550px) {
      .celebrity-trainning-page .banner-top .cta {
        position: absolute;
        margin: 0px auto;
        bottom: 50px;
        padding: 0px 10px; } }
    .celebrity-trainning-page .banner-top .cta fieldset {
      position: relative;
      border: 1px solid #db2128;
      padding: 0 30px 30px;
      height: auto; }
      @media (max-width: 767px) {
        .celebrity-trainning-page .banner-top .cta fieldset {
          padding: 10px 10px 20px 10px;
          height: auto; } }
      .celebrity-trainning-page .banner-top .cta fieldset legend {
        color: #db2128;
        text-align: center;
        width: auto;
        line-height: 1.1em;
        text-transform: uppercase;
        font-weight: 400;
        border: none;
        margin-bottom: 0;
        padding-left: 20px;
        padding-right: 20px; }
        @media (max-width: 2000px) {
          .celebrity-trainning-page .banner-top .cta fieldset legend {
            font-size: 2vw; } }
        @media (max-width: 767px) {
          .celebrity-trainning-page .banner-top .cta fieldset legend {
            padding: 10px 0 0 0;
            font-size: 35px;
            line-height: 1.1em;
            text-transform: uppercase;
            font-weight: 400; } }
        @media (max-width: 550px) {
          .celebrity-trainning-page .banner-top .cta fieldset legend {
            font-size: 6.4vw; } }
      .celebrity-trainning-page .banner-top .cta fieldset hr {
        border-bottom: 1px solid #db2128;
        height: 0px;
        border-top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 72%; }
      .celebrity-trainning-page .banner-top .cta fieldset span {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 15px 25px; }
        @media (max-width: 767px) {
          .celebrity-trainning-page .banner-top .cta fieldset span {
            padding-bottom: 10px;
            font-size: .79em; } }
      .celebrity-trainning-page .banner-top .cta fieldset .red-btn {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -20px; }
        .celebrity-trainning-page .banner-top .cta fieldset .red-btn .red-btn-inline {
          position: relative;
          text-align: center; }
        .celebrity-trainning-page .banner-top .cta fieldset .red-btn a {
          color: #ffffff;
          font-size: 12px;
          background: #db2128;
          border-radius: 20px;
          text-decoration: none;
          position: relative;
          margin: 0 auto;
          padding: 10px 30px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          white-space: nowrap;
          font-weight: 600; }
          @media (max-width: 767px) {
            .celebrity-trainning-page .banner-top .cta fieldset .red-btn a {
              padding: 10px 15px; } }
          @media (max-width: 550px) {
            .celebrity-trainning-page .banner-top .cta fieldset .red-btn a {
              bottom: 0; } }
  .celebrity-trainning-page .banner-top .carousel-caption {
    font-size: 40px;
    left: 10%;
    bottom: 13%;
    right: 0;
    color: #db2128;
    line-height: 40px;
    text-align: left;
    display: inline-block;
    width: 550px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center; }
    @media (max-width: 2000px) {
      .celebrity-trainning-page .banner-top .carousel-caption {
        max-width: 40vw; } }
    @media (max-width: 1360px) {
      .celebrity-trainning-page .banner-top .carousel-caption {
        bottom: 2%; } }
    @media (max-width: 991px) {
      .celebrity-trainning-page .banner-top .carousel-caption {
        max-width: 50vw;
        left: 5%; } }
    .celebrity-trainning-page .banner-top .carousel-caption strong {
      font-weight: 300; }
    .celebrity-trainning-page .banner-top .carousel-caption hr {
      background: #db2128;
      height: 2px;
      border: none;
      max-width: 50%;
      margin: 20px auto; }
      @media (max-width: 767px) {
        .celebrity-trainning-page .banner-top .carousel-caption hr {
          margin: 10px auto 0 auto; } }
      @media (max-width: 480px) {
        .celebrity-trainning-page .banner-top .carousel-caption hr {
          margin: 3px auto;
          height: 1px; } }
    .celebrity-trainning-page .banner-top .carousel-caption span {
      color: #ffffff;
      font-size: 16px;
      display: inline-block;
      margin-bottom: 30px;
      line-height: 150%; }
      @media (min-width: 768px) and (max-width: 991px) {
        .celebrity-trainning-page .banner-top .carousel-caption span {
          margin-top: 0px;
          padding-top: 10px; } }
      @media (max-width: 767px) {
        .celebrity-trainning-page .banner-top .carousel-caption span {
          font-size: 14px;
          margin-top: 0px;
          padding-top: 10px;
          margin-bottom: 20px; } }
      @media (max-width: 480px) {
        .celebrity-trainning-page .banner-top .carousel-caption span {
          font-size: .8em;
          margin-bottom: 10px;
          padding-top: 0;
          margin-top: 0; } }
.celebrity-trainning-page .container-page {
  max-width: 1200px; }
  @media (max-width: 1200px) {
    .celebrity-trainning-page .container-page {
      padding: 0 10px; } }
  .celebrity-trainning-page .container-page .block, .celebrity-trainning-page .container-page .about-block, .celebrity-trainning-page .container-page .how-block, .celebrity-trainning-page .container-page .success-story-block {
    font-size: 14px;
    font-size: calculateRem(14px);
    line-height: 1.42857143; }
    .celebrity-trainning-page .container-page .block .block-title, .celebrity-trainning-page .container-page .about-block .block-title, .celebrity-trainning-page .container-page .how-block .block-title, .celebrity-trainning-page .container-page .success-story-block .block-title {
      margin: 0 0 35px 0;
      position: relative;
      text-align: center;
      color: #db2128;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2vw;
      font-size: calculateRem(2vw); }
      @media screen and (max-width: 650px) {
        .celebrity-trainning-page .container-page .block .block-title, .celebrity-trainning-page .container-page .about-block .block-title, .celebrity-trainning-page .container-page .how-block .block-title, .celebrity-trainning-page .container-page .success-story-block .block-title {
          font-size: 6vw;
          font-size: calculateRem(6vw); } }
      @media screen and (min-width: 2000px) {
        .celebrity-trainning-page .container-page .block .block-title, .celebrity-trainning-page .container-page .about-block .block-title, .celebrity-trainning-page .container-page .how-block .block-title, .celebrity-trainning-page .container-page .success-story-block .block-title {
          font-size: 35px;
          font-size: calculateRem(35px); } }
      .celebrity-trainning-page .container-page .block .block-title:after, .celebrity-trainning-page .container-page .about-block .block-title:after, .celebrity-trainning-page .container-page .how-block .block-title:after, .celebrity-trainning-page .container-page .success-story-block .block-title:after {
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        background: #db2128;
        top: 52%;
        left: 10%;
        z-index: 1; }
        @media screen and (max-width: 320px) {
          .celebrity-trainning-page .container-page .block .block-title:after, .celebrity-trainning-page .container-page .about-block .block-title:after, .celebrity-trainning-page .container-page .how-block .block-title:after, .celebrity-trainning-page .container-page .success-story-block .block-title:after {
            width: 90%;
            left: 5%; } }
      .celebrity-trainning-page .container-page .block .block-title .title-text, .celebrity-trainning-page .container-page .about-block .block-title .title-text, .celebrity-trainning-page .container-page .how-block .block-title .title-text, .celebrity-trainning-page .container-page .success-story-block .block-title .title-text {
        display: inline-block;
        position: relative;
        padding: 0 20px;
        background: #ffffff;
        z-index: 2; }
        @media screen and (max-width: 650px) {
          .celebrity-trainning-page .container-page .block .block-title .title-text, .celebrity-trainning-page .container-page .about-block .block-title .title-text, .celebrity-trainning-page .container-page .how-block .block-title .title-text, .celebrity-trainning-page .container-page .success-story-block .block-title .title-text {
            padding: 0 10px !important; } }
        @media (max-width: 517px) {
          .celebrity-trainning-page .container-page .block .block-title .title-text, .celebrity-trainning-page .container-page .about-block .block-title .title-text, .celebrity-trainning-page .container-page .how-block .block-title .title-text, .celebrity-trainning-page .container-page .success-story-block .block-title .title-text {
            max-width: 300px; } }
        @media (max-width: 320px) {
          .celebrity-trainning-page .container-page .block .block-title .title-text, .celebrity-trainning-page .container-page .about-block .block-title .title-text, .celebrity-trainning-page .container-page .how-block .block-title .title-text, .celebrity-trainning-page .container-page .success-story-block .block-title .title-text {
            max-width: 205px; } }
  .celebrity-trainning-page .container-page .about-block .video {
    padding: 0; }
  .celebrity-trainning-page .container-page .about-block .text {
    margin: 0 !important;
    padding: 0 5px !important; }
    .celebrity-trainning-page .container-page .about-block .text p {
      text-align: left;
      line-height: 24px; }
  .celebrity-trainning-page .container-page .how-block .left-img, .celebrity-trainning-page .container-page .how-block .right-img {
    padding: 7.5px 5px !important; }
  @media (min-width: 1024px) {
    .celebrity-trainning-page .container-page .how-block .left-img {
      padding: 5px 3px 5px 0  !important; } }
  @media (min-width: 1024px) {
    .celebrity-trainning-page .container-page .how-block .right-img {
      padding: 5px 0 5px 3px  !important; } }
  .celebrity-trainning-page .container-page .how-block .text-center {
    padding: 5px 20px; }
    @media (max-width: 1024px) {
      .celebrity-trainning-page .container-page .how-block .text-center {
        padding: 0; } }
  .celebrity-trainning-page .container-page .success-story-block .box {
    padding: 10px 0px;
    margin: 0px; }
    .celebrity-trainning-page .container-page .success-story-block .box .text {
      margin-top: 4% !important;
      padding-left: 3%; }
    .celebrity-trainning-page .container-page .success-story-block .box .image {
      padding-left: 5px !important;
      padding-right: 5px !important; }
      .celebrity-trainning-page .container-page .success-story-block .box .image img {
        width: 100%;
        height: 100%; }
    @media (max-width: 517px) {
      .celebrity-trainning-page .container-page .success-story-block .box {
        padding-bottom: 30px  !important; }
        .celebrity-trainning-page .container-page .success-story-block .box .image img {
          width: 100%;
          height: 100%; }
        .celebrity-trainning-page .container-page .success-story-block .box .text {
          margin-top: 4% !important;
          padding: 0 5px !important; } }
  .celebrity-trainning-page .container-page .success-story-block .see-more-btn {
    text-align: center;
    margin: 30px 0; }
    .celebrity-trainning-page .container-page .success-story-block .see-more-btn a {
      text-decoration: none;
      font-size: 17px;
      font-size: calculateRem(17px);
      color: #000;
      padding: 5px 30px;
      border: 2px solid #808285;
      text-transform: uppercase;
      font-weight: bold; }
      .celebrity-trainning-page .container-page .success-story-block .see-more-btn a:hover {
        text-decoration: none;
        background: #808285;
        color: #ffffff;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
.celebrity-trainning-page .trainers center {
  font-weight: bold;
  margin-bottom: 20px; }
.celebrity-trainning-page .trainers .area {
  border: none;
  text-align: center;
  display: none; }
  .celebrity-trainning-page .trainers .area li {
    float: none;
    display: inline-block; }
    .celebrity-trainning-page .trainers .area li a {
      border: none;
      font-weight: bold;
      color: #000; }
      @media (max-width: 767px) {
        .celebrity-trainning-page .trainers .area li a {
          padding: 5px 10px; } }
      @media (max-width: 480px) {
        .celebrity-trainning-page .trainers .area li a {
          padding: 5px 10px; } }
  .celebrity-trainning-page .trainers .area :hover a {
    background-color: transparent;
    color: #db2128; }
  .celebrity-trainning-page .trainers .area .active a {
    border: none;
    color: #db2128; }
  .celebrity-trainning-page .trainers .area .active a:hover {
    border: none;
    color: #db2128; }
  .celebrity-trainning-page .trainers .area .active a:focus {
    border: none;
    color: #db2128; }
.celebrity-trainning-page .trainers .teacher-detail {
  margin-top: 60px; }
  @media (max-width: 767px) {
    .celebrity-trainning-page .trainers .teacher-detail {
      margin-top: 10px; } }
  @media (max-width: 480px) {
    .celebrity-trainning-page .trainers .teacher-detail {
      margin-top: 10px; } }
  .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs {
    border: none;
    text-align: center;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0; }
    .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li {
      float: none;
      display: list-item; }
      .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a {
        border: none;
        color: #000;
        padding: 5px; }
        .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a img {
          width: 100px;
          display: inline-block;
          border: 3px solid #EAEAEA;
          border-radius: 50%;
          -o-border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%; }
          @media (max-width: 767px) {
            .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a img {
              width: 100%; } }
          @media (max-width: 480px) {
            .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a img {
              width: 100%; } }
        .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a span {
          display: block;
          font-size: 14px;
          font-size: calculateRem(14px); }
          @media (max-width: 767px) {
            .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a span {
              font-size: 80%; } }
          @media (max-width: 480px) {
            .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a span {
              font-size: 80%; } }
        @media (max-width: 767px) {
          .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a {
            padding: 0; } }
        @media (max-width: 480px) {
          .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li a {
            padding: 0; } }
      .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li :hover {
        background: transparent !important; }
      .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li :focus {
        background: transparent !important; }
      @media (max-width: 767px) {
        .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li {
          float: left;
          width: 25%; } }
      @media (max-width: 480px) {
        .celebrity-trainning-page .trainers .teacher-detail ul.nav-tabs li {
          float: left;
          width: 25%; } }
  .celebrity-trainning-page .trainers .teacher-detail .tab-content h3 {
    color: #db2128;
    margin-bottom: 5px;
    font-size: 17px;
    font-size: calculateRem(17px);
    font-weight: bold;
    text-transform: uppercase; }
  .celebrity-trainning-page .trainers .teacher-detail .tab-content h4 {
    color: #db2128;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-size: calculateRem(14px); }
  .celebrity-trainning-page .trainers .teacher-detail .tab-content p {
    margin: 15px 0; }
  .celebrity-trainning-page .trainers .teacher-detail .tab-content img {
    display: inline-block; }
    @media (max-width: 767px) {
      .celebrity-trainning-page .trainers .teacher-detail .tab-content img {
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px; } }
    @media (max-width: 480px) {
      .celebrity-trainning-page .trainers .teacher-detail .tab-content img {
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px; } }
  @media (max-width: 767px) {
    .celebrity-trainning-page .trainers .teacher-detail .tab-content .cont {
      padding: 10px; } }
  @media (max-width: 767px) {
    .celebrity-trainning-page .trainers .teacher-detail .tab-content {
      padding: 0; } }
  @media (max-width: 480px) {
    .celebrity-trainning-page .trainers .teacher-detail .tab-content {
      padding: 0; } }
@media (max-width: 767px) {
  .celebrity-trainning-page .trainers {
    padding: 0; } }
@media (max-width: 480px) {
  .celebrity-trainning-page .trainers {
    padding: 0; } }
.celebrity-trainning-page .banner {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  max-width: 2000px;
  background: url("../img/celebrity-training/banner.jpg");
  position: relative; }
  .celebrity-trainning-page .banner .text-content {
    width: 100%;
    color: #ffffff;
    text-align: center; }
    .celebrity-trainning-page .banner .text-content h3 {
      font-size: 17px;
      font-size: calculateRem(17px);
      margin-top: 45px;
      text-transform: uppercase;
      font-weight: bold; }
    .celebrity-trainning-page .banner .text-content p {
      font-size: 14px;
      font-size: calculateRem(14px);
      margin: 20px 0 30px;
      letter-spacing: 1px; }
    .celebrity-trainning-page .banner .text-content .navbar-center {
      width: 100%;
      text-align: center;
      margin: 15px 0; }
      .celebrity-trainning-page .banner .text-content .navbar-center li {
        float: none;
        display: inline-block; }
        .celebrity-trainning-page .banner .text-content .navbar-center li a {
          font-size: 14px;
          font-size: calculateRem(14px);
          font-weight: bold;
          color: #ffffff;
          text-transform: uppercase;
          background: none; }
          .celebrity-trainning-page .banner .text-content .navbar-center li a:hover {
            color: #db2128; }
          @media (max-width: 500px) {
            .celebrity-trainning-page .banner .text-content .navbar-center li a {
              padding: 5px 5px !important; } }
      .celebrity-trainning-page .banner .text-content .navbar-center li.active a {
        color: #db2128; }
.celebrity-trainning-page h2.booktitle {
  border: 1px solid #000;
  padding: 4% 8%;
  text-transform: uppercase;
  margin-bottom: 30px; }
.celebrity-trainning-page h3.visit_benefit {
  font-size: 13px;
  line-height: inherit;
  text-transform: uppercase;
  margin-bottom: 50px; }
  .celebrity-trainning-page h3.visit_benefit span {
    font-size: 90%; }
  .celebrity-trainning-page h3.visit_benefit span.title {
    font-size: 120%; }

/**
 * PgwSlider - Version 2.3
 *
 * Copyright 2014, Jonathan M. Piat
 * http://pgwjs.com - http://pagawa.com
 *
 * Released under the GNU GPLv3 license - http://opensource.org/licenses/gpl-3.0
 */
.pgwSlider {
  width: 100%;
  color: #fff; }

.pgwSlider a {
  display: block;
  text-decoration: none;
  color: #fff; }

.pgwSlider .ps-current {
  float: left;
  width: 83%;
  overflow: auto;
  height: inherit;
  position: relative;
  font-size: 1rem; }

@media screen and (max-width: 517px) {
  .pgwSlider .ps-current {
    overflow: hidden; } }
.pgwSlider.listOnTheLeft .ps-current {
  float: right; }

.pgwSlider .ps-current ul {
  width: 100%; }

@media screen and (max-width: 517px) {
  .pgwSlider .ps-current ul {
    display: none; } }
.pgwSlider .ps-current li {
  width: 100%;
  z-index: 1;
  opacity: 0;
  display: none; }

.pgwSlider .ps-current > ul > li > img {
  max-width: 100%;
  min-width: 50%;
  height: auto;
  display: none;
  transition: margin-top 250ms linear; }

.pgwSlider .ps-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 3; }

.pgwSlider .ps-caption img {
  float: left;
  height: 100%;
  vertical-align: center;
  padding-right: 10%; }

.pgwSlider .ps-caption .trainer-info {
  font-size: 14px;
  font-size: calculateRem(14px);
  position: relative;
  max-width: 100%; }

.pgwSlider .ps-caption .trainer-info .trainer-name, .pgwSlider .ps-caption .trainer-info .trainer-job {
  text-transform: uppercase;
  color: #db2128; }

.pgwSlider .ps-caption .trainer-info .trainer-name {
  font-size: 17px;
  font-size: calculateRem(17px);
  font-weight: bold; }

.pgwSlider .ps-caption .trainer-info .trainer-job {
  font-weight: normal; }

.pgwSlider .ps-caption .trainer-info .description p {
  color: #000;
  margin: 15px 0;
  font-weight: normal; }

@media screen and (max-width: 500px) {
  .pgwSlider .ps-caption {
    position: relative; }

  .pgwSlider .ps-caption img {
    position: relative;
    margin: 0 25%;
    float: left;
    width: 50% !important; }

  .pgwSlider .ps-caption .trainer-info {
    position: relative;
    float: left;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 5px; } }
@media screen and (min-width: 501px) and (max-width: 517px) {
  .pgwSlider .ps-caption {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 3; }

  .pgwSlider .ps-caption img {
    position: relative;
    float: left;
    width: 50% !important; }

  .pgwSlider .ps-caption .trainer-info {
    position: relative;
    float: left;
    width: 50%;
    left: 0;
    top: 0; }

  .pgwSlider .ps-caption .trainer-info .trainer-name {
    font-weight: bold; }

  .pgwSlider .ps-caption .trainer-info .trainer-job {
    font-weight: normal; }

  .pgwSlider .ps-caption .trainer-info .description p {
    color: #000;
    margin: 0 0;
    font-weight: normal; } }
ul.pgwSlider,
.pgwSlider ul {
  float: right;
  width: 15%;
  padding: 0;
  list-style: none;
  margin: 0; }

ul.pgwSlider.listOnTheLeft,
.pgwSlider.listOnTheLeft > ul {
  float: right; }

ul.pgwSlider > li,
.pgwSlider > .ps-list > li {
  height: 50px;
  margin: 0 0 6px 0;
  overflow: hidden;
  position: relative;
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 0.8rem;
  transition: opacity 200ms linear; }

ul.pgwSlider > li:last-child,
.pgwSlider > ul > li:last-child {
  margin-bottom: 0; }

.pgwSlider > .ps-list {
  float: left !important;
  position: relative;
  left: 0; }

@media screen and (max-width: 517px) {
  .pgwSlider > .ps-list {
    left: 0; } }
ul.pgwSlider > li span,
.pgwSlider > .ps-list > li span {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

ul.pgwSlider > li:hover,
.pgwSlider > ul > li:hover {
  opacity: 1 !important; }

ul.pgwSlider > li img,
.pgwSlider > ul > li img {
  width: 100%;
  min-height: 100%;
  display: block;
  transition: margin-top 250ms linear; }

.pgwSlider .ps-prevIcon {
  border-color: transparent #fff transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  display: block; }

.pgwSlider .ps-nextIcon {
  border-color: transparent #fff transparent;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  display: block; }

.pgwSlider .ps-current .ps-prev {
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
  border: 1px solid #777;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  position: absolute;
  padding: 20px 20px 20px 17px;
  left: 0;
  top: 45%;
  cursor: pointer; }

.pgwSlider .ps-current .ps-next {
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
  border: 1px solid #777;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  position: absolute;
  padding: 20px 17px 20px 20px;
  right: 0;
  top: 45%;
  cursor: pointer; }

/*
 * The media-queries are not used because IE8 doesn't support them.
 */
.pgwSlider.narrow .ps-current {
  position: relative;
  margin-bottom: 6px;
  font-size: 0.8rem;
  height: auto !important; }

.pgwSlider.narrow .ps-current img {
  width: 100%;
  min-height: inherit; }

.pgwSlider.narrow .ps-current,
ul.pgwSlider.narrow,
.pgwSlider.narrow > ul {
  width: 100%; }

ul.pgwSlider.narrow > li,
.pgwSlider.narrow > .ps-list > li {
  float: left;
  min-height: 57px;
  max-height: 70px;
  min-width: 15%;
  font-size: 0.7rem;
  margin-bottom: 0; }

ul.pgwSlider.narrow.listOnTheLeft > li,
.pgwSlider.narrow.listOnTheLeft > ul > li {
  float: left; }

.pgwSlider.narrow .ps-caption {
  padding: 8px; }

.pgwSlider.narrow .ps-current .ps-prev {
  padding: 15px 15px 15px 12px;
  top: 40%; }

.pgwSlider.narrow .ps-current .ps-next {
  padding: 15px 12px 15px 15px;
  top: 40%; }

/*# sourceMappingURL=celebrity-trainning.css.map */
