@import '../lib';
.container-fluid.page.centuryon-membership-cfy-page {
	background-color: #000 !important;
	color: #fff;
	.mobile {display: none;
		@media (max-width:767px) {
			display: block;
		}
	}
	.desktop {
		@media (min-width:768px) {
			display: block;
		}
		@media (max-width:767px) {
			display: none;
		}
	}
	h2 {color: #f7e300; font-weight: 100; font-size: 25px; text-align: center; padding: 10px 0; text-transform: uppercase; border-bottom: 0px;line-height: 1.2em;}
	.divider {margin: 20px 0;}
	h4 {color: #f7e300; font-weight: 100; font-size: 25px; margin: 20px auto;}
	img.quote-left {
		position: absolute; left:3%; top:22%; width: 40px;

	}
	img.quote-right {
		position: absolute; right:5%; bottom:25%; width: 40px;   -ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		transform: rotate(180deg);

	}
	.text-box { max-width: 90%; margin: 0 auto;}

	.row.banner-top {
		@media (min-width:768px){
		background:#000 url(../img/centuryon-membership/centuryon-membership-header.jpg) center top no-repeat;
		position: relative;
		background-size: 100%; min-height: 550px;
		}
		   @media (max-width: 767px) {
		   min-height: 600px;
		   position: relative;
		   background:#000 url(../img/centuryon-membership/m-centuryon-membership-header.jpg) center top no-repeat;
		   background-size: cover;
		   }
		   @media (max-width: 415px) {
		   min-height: 600px;
		   background:#000 url(../img/centuryon-membership/m-centuryon-membership-header.jpg) center top no-repeat;
		   background-size: contain;
		   }
		   @media (max-width:320px) {
			   min-height: 500px;
		   }
		.cta {
			max-width: 40vw;
			float: left;
			margin: 50px 0 50px 10%;
			padding: 20px;
			position: relative;
			@media (max-width: 767px) {
			width: 100%;
			max-width: 500px;
			margin-left: auto;
			margin: 75% auto 0px auto;

			padding: 0 10px;
			position: relative;
			float: none;

			 }
			 @media (max-width:550px) {
				position: absolute;

				bottom: 0px;
			 }
			 @media (max-width:320px) {
				 
			 }

		 fieldset {
            position: relative;
            border: 1px solid #f7e300;
            padding: 0 30px 30px;
            height: auto;
            @media (max-width: 767px) {
                padding: 10px 10px 20px 10px;
                height:auto;
            }
            @media (max-width: 484px) {

            }
            legend {
                color: #f7e300;
                text-align: center;
                width: auto;
				line-height: 1.1em;
				text-transform: uppercase;
				font-weight: 400;
                border: none;
                margin-bottom: 0;
                padding-left: 20px;
                padding-right: 20px;

                @media (max-width: 2000px) {
                     font-size: 2vw;
                }
                @media (max-width: 767px){
                    padding: 10px 0 0 0;
                    font-size: 35px;

					line-height: 1.1em;
					text-transform: uppercase;
					font-weight: 400;

	                }
	                @media (max-width:550px) {
		              font-size: 6.4vw;
	                }
	            }
	            hr {border-bottom:1px solid #f7e300; height: 0px; border-top:0px; margin-top:10px; margin-bottom: 10px; max-width: 72%;}
	            span { text-align: center;  text-transform: uppercase; text-align: center; display: block; margin: 0 auto;
		           @media (max-width: 767px) {
		           		padding-bottom: 10px;
		           		font-size: 1em;
		           }
	            }
	            .red-btn {
	            	position: absolute;
					  width: 100%;
					  left: 0px;
					  bottom: -20px;
		            a {
			              color: $black;
						  font-size: 12px;
						  background: #f7e300;
						  border-radius: 20px;
						  text-decoration: none;
						  position: relative;
						  margin: 0 auto;
						  padding: 10px 30px;
						  bottom: 0;
						  display: block;
						  width: 50%;
						  text-align: center;
						  text-transform: uppercase;
						  white-space: nowrap;
						  font-weight: 600;
						  @media (max-width:767px){
							  width: 55%;
							  padding: 10px 15px;
						  }
		            }
	            }
	        }
		}
		.card {margin: 50px auto; width: 50%;}
	}

	.row.video {
		padding-top: 50px;
		.col-sm-5.col-centered { height: 300px; overflow: hidden;}

	}

	.row.top-content {
		p {text-align: center;}
	}

	.row.section3 {
		background: url() center top no-repeat; background-size:100%;
		
		.col-md-10.col-centered {
		p {text-align: center; text-transform: uppercase;}
		}
		.content {
			margin:20px auto 0px auto; background:none; background: rgba(0,0,0, .6); width: 75%;position: relative; padding:50px 20px;
			h4 {color: $white;}
			}
		}

		.container-page.section4{
			.row.row-centered {
				h4 {font-size: 19px;}
                h4.white { color: $white;}
				.col-md-4.col-centered.col-xs-12 {
					margin-top: 50px;
					height:300px;
					p {line-height: 1.7em; padding: 20px; text-align: center; max-width: 90%; margin: 0 auto; }
				}
				p.title {padding-top: 50px;}
			}
				.col-md-3.col-centered.col-xs-12 {
					margin-top: 50px; height:200px;overflow: hidden;
					h4 {font-size: 20px; text-transform: uppercase; text-align: center;padding-bottom: 20px;}
					p {line-height: 1.7em; text-align: center;}
					&:nth-child(4n) {
						h4 { padding-bottom: 0px; }
					}
				}

		} /* Centuryon section2 */

		.section5 {
			background: url(../img/centuryon-membership/centuryon-section3-bg.jpg) center top no-repeat; background-size:100%; min-height: 500px;
				.col-sm-5.col-sm-push-7.col-xs-12.col-xs-push-0 {
					margin-top: 100px;
					padding: 20px 10px;
					img.quote-left {top: 5%;}
					img.quote-right.white {bottom:8%;}
					.text-box {width: 84%; text-transform: uppercase;
                        p {
                            text-align: justify;
                        }
                    }

				}
		} /* Centuryon section 3 */




} /* end centuryon membership */
@media (max-width: 1024px) {
    .container-fluid.page.centuryon-membership-cfy-page {
        .section5 {
            .col-sm-5.col-sm-push-7.col-xs-12.col-xs-push-0 {
                margin-top: 0px;
                }
            }
        }
}
@media (max-width:767px) {
.container-fluid.page.centuryon-membership-cfy-page {
	h2 {font-size: 6vw;}
	h4 {font-size:5vw !important;}
	.row.video{
		.col-sm-5.col-xs-12.col-centered{ height: auto; padding-bottom: 50px;
			.embed-responsive.embed-responsive-16by9 { height:auto; padding-bottom: 0px;
				.embed-responsive-item {position: relative; }
			}
		}
	}
			.container-page.section4{
			.row.row-centered {
				h4 {font-size: 19px;}
				.col-md-4.col-centered.col-xs-12 {
					margin-top: 0px;
					height:auto;
					p {line-height: 1.7em; padding: 20px 0; }
				}
				p.title {padding-top: 50px;}
			}
		}

	.row.section3 {
		background: url() center top no-repeat; background-size:100%;
	.content { margin: 20px auto 0px auto; width: 100%;
	h4 { padding-top: 20px;}

	}
		}

		.container-page.section4{
			.row.row-centered {
				.col-md-4.col-centered.col-xs-12 {


					p {line-height: 1.7em;}
				}
				p.title {padding-top: 50px;}
			}
				.col-md-3.col-centered.col-xs-12 {
					margin-top: 0px; height:auto;overflow: hidden; height: auto; width: 100%; max-width: 300px;
					h4 { text-transform: uppercase; text-align: center;}
					p {line-height: 1.7em; text-align: center;}
				}

		} /* Centuryon section2 */
		.section5 {
			background: url(../img/centuryon-membership/m-centuryon-section3-bg.jpg) center top no-repeat; background-size:contain ; min-height: 500px;
			.col-sm-5.col-sm-push-7.col-xs-12.col-xs-push-0 {
			img.quote-left.white {display: none;}
			img.quote-right.white {display: none;}
				margin-top: 70vw;
				.text-box {width: 90%;}

					}

				}

	} /* main container */

} /* end query 768 */

@media (max-width:414px) {
.container-fluid.page.centuryon-membership-cfy-page {
	.row.section3 {

		.content { margin: 20px auto 0px auto; width: 100%; padding: 0px 10px 20px 10px;
			img.quote-left {left:0%; top:0%; ;}
			img.quote-right {right:3%; bottom:9%;}
			}
		}
				.section5 {
					.col-sm-5.col-sm-push-7.col-xs-12.col-xs-push-0 {
						margin-top: 87vw;
						.text-box {width: 90%;}

					}
				} /* Centuryon section 5 */
	} /* main container */

}