@import '../lib';
.cfyc-memberships {
    img, p, h1, h2, h3, h4, a, div, button, span {
        @include transition(all .3s ease);
        .col-md-8.col-centered {
	        p {text-align: center;}
        }
    }
    .banner-top {
        position: relative;
        background: #fff url(../img/cfyc-memberships/bg-header.jpg) center top no-repeat;
        background-size: 100%;
        @media (max-width:767px) {
	         background: #fff url(../img/cfyc-memberships/m-bg-header.jpg) center top no-repeat;
	         background-size: cover;
	         min-height: 500px;
        }
		.cta {
			max-width: 40vw;
			margin: 24vw 0 50px 10%;
			padding: 20px;
			position: relative;
			@media (min-width:768px) and (max-width:1200px){
				max-width: 50vw;
			}
			@media (max-width: 767px) {
			width: 100%;
			max-width: 500px;
			margin-left: auto;
			margin: 450px auto 0 auto;
			padding: 50px 10px;
			position: relative;
			float: none;

			 }
			 @media (max-width:550px) {
				position: absolute;
				margin: 0px auto;
				bottom: 50px;
				padding: 0px 10px;
			 }

		 fieldset {
            position: relative;
            border: 1px solid $red;
            padding: 0 30px 30px;
            height: auto;
            @media (max-width: 767px) {
                padding: 10px 10px 20px 10px;
                height:auto;
            }
            @media (max-width: 484px) {

            }
            legend {
                color: $red;
                text-align: center;
                width: auto;
				line-height: 1.1em;
				text-transform: uppercase;
				font-weight: 400;
                border: none;
                margin-bottom: 0;
                padding-left: 20px;
                padding-right: 20px;

                @media (max-width: 2000px) {
                     font-size: 2vw;
                }
                @media (max-width: 767px){
                    padding: 10px 0 0 0;
                    font-size: 35px;

					line-height: 1.1em;
					text-transform: uppercase;
					font-weight: 400;

	                }
	                @media (max-width:550px) {
		              font-size: 6.4vw;
	                }
	            }
	            hr {border-bottom:1px solid $red; height: 0px; border-top:0px; margin-top:10px; margin-bottom: 10px; max-width: 72%;}
	            span { text-align: center; color: $white; text-transform: uppercase; text-align: center; display: block; margin: 0 auto;
		           @media (max-width: 767px) {
		           		padding-bottom: 10px;
		           		font-size: 1em;
		           }
	            }
	            .red-btn {

	            	position: absolute;
					  width: 100%;
					  left: 0px;
					  bottom: -20px;
		            a {
			              color: $white;
						  font-size: 12px;
						  background: $red;
						  border-radius: 20px;
						  text-decoration: none;
						  position: relative;
						  margin: 0 auto;
						  padding: 10px 30px;
						  bottom: 0;
						  display: block;
						  width: 40%;
						  text-align: center;
						  text-transform: uppercase;
						  white-space: nowrap;
						  font-weight: 600;
						  @media (max-width:767px){
							  width: 55%;
							  padding: 10px 15px;
						  }
		            }
	            }
	        }
		}
        .carousel-caption {
            font-size: 40px;
            left: 10%;
            bottom: 13%;
            right: 0;
            color:$red;
            line-height: 40px;
            text-align: left;
            display: inline-block;
            width: 550px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            @media (max-width: 2000px) {
                max-width: 40vw;
            }

            @media (max-width: 1360px) {
                bottom: 2%;
            }
            @media (max-width: 991px) {
                max-width: 50vw;
                left: 5%;
            }
            strong {font-weight: 300;}
            hr { background: $red; height: 2px; border: none; max-width: 50%; margin: 20px auto;
                @media (max-width: 767px) { margin: 10px auto 0 auto;}
                @media (max-width: 480px) { margin: 3px auto; height: 1px;}
            }
            span{ color: $white;font-size: 16px;display: inline-block; margin-bottom: 30px; line-height: 150%;
                 @media (min-width: 768px) and (max-width: 991px) {margin-top: 0px;padding-top: 10px;}
                 @media (max-width: 767px){font-size: 14px;margin-top: 0px;padding-top: 10px;margin-bottom: 20px;}
                 @media (max-width: 480px){font-size: .8em; margin-bottom: 10px; padding-top: 0; margin-top: 0;}
            }
            .red-btn {
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: -20px;
                a{color:$white;font-size: 12px;background:$red;border-radius: 20px;text-decoration: none; position: relative;margin: 0 auto; padding: 10px 30px; bottom: 0;
                  @media (max-width: 767px) {padding: 1% 7%;}
                  @media (max-width: 480px) {font-size: .8em;}
                }
                @media (min-width: 768px) and (max-width: 991px) {bottom: -13px;}
                @media (max-width: 767px) {bottom: -8px; }
            }
            @media (min-width: 768px) and (max-width: 991px) {font-size:40px;line-height: normal;}
            @media (max-width: 767px) {width: auto;font-size: 16px;bottom: 0;line-height: normal;;}
            @media (max-width: 480px){width: auto;right: 5%;font-size: 10px;bottom: -5%;line-height: normal;left: 5%;}
        }
    }
    .video {
        padding: 35px 0;
        margin-top: 20px;
        .pLeft0 {
            padding-left: 0;
        }
        .pRight0 {
            padding-right: 0;
        }
        .desc-video {
            position: relative;
            top: 0px;
            text-align: justify;
        }
    }
    .top-content {
        text-align: center;
        margin-top: 20px;
        .strike {
            display: block;
            text-align: center;
            overflow: hidden;
            margin: 20px auto;
            h1 {
                position: relative;
                display: inline-block;
                color: $red;
                text-transform: uppercase;
                line-height: 1.3em;
                @include font-size(25px);
                max-width: 700px;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    top: 35%;
                    width: 9999px;
                    height: 2px;
                    background:  #e60000;
                }
                &:before {
                    right: 95%;
                    margin-right: 15px;
                }

                &:after {
                    left: 95%;
                    margin-left: 15px;
                }
            }
        }
        .strike.line-3 {
            h1 {
                &:before, &:after {
                    top: 25%;
                }
                &:before {
                    right: 85%;
                    margin-right: 15px;
                }

                &:after {
                    left: 85%;
                    margin-left: 15px;
                }
            }
        }
    }
    .gallery {
        padding: 2% 0;
        img {
            margin-bottom: 22.5px;
        }
        .pLeft0 {
            padding-left: 0;
        }
        .pRight0 {
            padding-right: 0;
        }
        .pLeftRight75 {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }
    .banner-bottom {
        top: 50px;
        position: relative;
        margin-bottom: 60px;
        .text-box {
            position: absolute;
            max-width: 50%;
            top: 10%;
            left: 7%;
            text-transform: uppercase;
            h1 {
                font-weight: 100;
                color: $white;
            }
            h1.yellow {
                font-weight: 300;
                color: $yellow;
                margin-top: 0px;
                margin-bottom: 6%;
            }
            h3 {
                font-weight: 300;
                margin-top: 6%;
                color: $white;
                text-align: justify;
                line-height: 1.2em;
            }
            a.cta {
                padding: 2% 5%;
                background: $yellow;
                @include font-size(15px);
                color: $black;
                @include transition(all .3s ease-out);
                &:hover {
                    background: #ffff25;
                    text-decoration: none;
                }
            }
        }
    }
    @media (max-width: 2000px) {
        .top-content {
            .strike {
                h1 {
                    @include font-size(25px);
                }
            }
        }
        .banner-top {
            h1.headline {
                @include font-size(6vw);
            }
        }
        .banner-bottom {
            .text-box {
                h1 {
                    @include font-size(2.8vw);
                }
                h3 {
                    @include font-size(2vw);
                }
                a.cta {
                    @include font-size(1.5vw);
                }
            }
        }
    }/*close media 2000px*/
    @media (max-width: $breakpoint_tablet) {
        .video {
            .desc-video {
                top: 0px;
            }
        }
    }
    @media (max-width: 767px) {
    	.strike {max-width: 99%;}
        .video {
            margin-top: 0;
            padding: 20px 0;
            .pLeft0, .pRight0 {
                padding: 0;
            }
            .desc-video {
                margin-bottom: 20px;
            }
        }
        .top-content {
            margin-top: 0;
        }
        .gallery {
            padding: 1% 0;
            img {
                margin-bottom: 15px;
            }
            .pLeft0 {
                padding-left: 15px;
            }
            .pRight0 {
                padding-right: 15px;
            }
            .pLeftRight75 {
                padding-left: 15px;
                padding-right: 15px;
            }
            .pLeft75 {
                padding-left: 7.5px;
            }
            .pRight75 {
                padding-right: 7.5px;
            }
        }
        .banner-bottom {
            top: 20px;
            margin-bottom: 30px;
        }
    }/*close media 767*/
    @media (max-width: 600px) {
        .banner-top {
            h1.headline {
                top: -2%;
            }
        }
        .top-content {
            .strike {
                h1 {
                    @include font-size(6vw);
                }
            }
        }
        .banner-bottom {
            .text-box {
                top: -2%;
            }
        }
    }
}/*close class membership-cfy-page*/

