@import '../lib';

@mixin border-top-left-radius($value) {
    -moz-border-radius-topleft: $value;
    -webkit-border-top-left-radius: $value;
    border-top-left-radius: $value;
}

@mixin border-top-right-radius($value) {
    -moz-border-radius-topright: $value;
    -webkit-border-top-right-radius: $value;
    border-top-right-radius: $value;
}



.club-page {

    .carousel.slide, .information {
        .container-page {margin: 0 auto;}
    }
    .whitespace {padding: 10px 0}
    .whitespace-2x {padding: 20px 0}
    .whitespace-3x {padding: 30px 0}

    // TOP BANNER

    .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-1.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-1.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
        .cta {
            max-width: 42vw;
            margin: 9vw 0 130px 10%;
            padding: 20px;
            position: relative;
            @media (min-width: 2000px) {
                max-width: 475px;
                margin: 450px 0 90px 10%;
                padding: 20px;
                position: relative;
            }
            @media (min-width:768px) and (max-width:1200px){
                max-width: 50vw;
            }
            @media (max-width: 767px) {

                max-width: 500px;
                margin-left: auto;
                margin: 450px auto 0 auto;
                padding: 50px 10px;
                position: relative;
                float: none;

            }
            @media (max-width:550px) {
                position: absolute;
                margin: 0px auto;
                bottom: 50px;
                padding: 0px 10px;
            }

            fieldset {
                position: relative;
                border: 1px solid $red;
                padding: 0 30px 30px;
                height: auto;
                @media (max-width: 767px) {
                    padding: 10px 10px 20px 10px;
                    height:auto;
                }
                @media (max-width: 484px) {

                }
                legend {
                    color: $red;
                    text-align: center;
                    width: auto;
                    line-height: 1.1em;
                    text-transform: uppercase;
                    font-weight: 400;
                    border: none;
                    margin-bottom: 0;
                    padding-left: 20px;
                    padding-right: 20px;

                    @media (max-width: 2000px) {
                        font-size: 2vw;
                    }
                    @media (max-width: 767px){
                        padding: 10px 0 0 0;
                        font-size: 35px;

                        line-height: 1.1em;
                        text-transform: uppercase;
                        font-weight: 400;

                    }
                    @media (max-width:550px) {
                        font-size: 6.4vw;
                    }
                }
                hr {border-bottom:1px solid $red; height: 0px; border-top:0px; margin-top:10px; margin-bottom: 10px; max-width: 72%;}
                span { text-align: center; color: $white; text-transform: uppercase; text-align: center; display: block; margin: 0 auto; padding: 15px 25px 0px;
                       @media (max-width: 767px) {
                           padding-bottom: 10px;
                           font-size: .79em;
                       }
                }
                .red-btn {
                    .red-btn-inline {position: relative;text-align: center;}
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: -20px;
                    a {
                        width: auto;
                        color: $white;
                        font-size: 12px;
                        background: $red;
                        border-radius: 20px;
                        text-decoration: none;
                        position: relative;
                        margin: 0 auto;
                        padding: 10px 30px;
                        display: inline-block;
                        text-align: center;
                        text-transform: uppercase;
                        white-space: nowrap;
                        font-weight: 600;
                        @media (max-width:767px){
                            padding: 10px 15px;
                        }
                        @media (max-width:550px){
                            bottom: 0;
                        }
                    }
                }
            }
        }
        .carousel-caption {
            font-size: 40px;
            left: 10%;
            bottom: 13%;
            right: 0;
            color:$red;
            line-height: 40px;
            text-align: left;
            display: inline-block;
            width: 550px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            @media (max-width: 2000px) {
                max-width: 40vw;
            }

            @media (max-width: 1360px) {
                bottom: 2%;
            }
            @media (max-width: 991px) {
                max-width: 50vw;
                left: 5%;
            }
            strong {font-weight: 300;}
            hr { background: $red; height: 2px; border: none; max-width: 50%; margin: 20px auto;
                 @media (max-width: 767px) { margin: 10px auto 0 auto;}
                 @media (max-width: 480px) { margin: 3px auto; height: 1px;}
            }
            span{ color: $white;font-size: 16px;display: inline-block; margin-bottom: 30px; line-height: 150%;
                  @media (min-width: 768px) and (max-width: 991px) {margin-top: 0px;padding-top: 10px;}
                  @media (max-width: 767px){font-size: 14px;margin-top: 0px;padding-top: 10px;margin-bottom: 20px;}
                  @media (max-width: 480px){font-size: .8em; margin-bottom: 10px; padding-top: 0; margin-top: 0;}
            }

        }
    } //banner-top?????????


     .bien-hoa-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-bien-hoa.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-bien-hoa.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }
    .binh-duong-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-binh-duong.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-binh-duong.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }
     .ha-noi-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-ha-noi.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-ha-noi.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }
   .da-nang-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-da-nang.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-da-nang.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }
    .nha-trang-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-nha-trang.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-nha-trang.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }

    // CLUB TITLE
    .block {
        .block-title {
            margin: 0;
            position: relative;
            text-align: center;
            color: $red;
            letter-spacing: 1px;
            font-weight: bold;
            @include font-size(2vw);
            @media screen and (min-width: 2000px) {@include font-size(35px);}
            @media screen and (max-width: 650px) {@include font-size(4vw);.title-text {padding: 0 10px !important;}}
            text-transform: uppercase;
            &:after {
                content: "";
                position: absolute;
                width: 80%;
                height: 2px;
                background: $red;
                top: 52%;
                left: 10%;
                z-index: 1;
            }
            @media screen and (max-width: 320px) {
                &:after {width: 90%;left: 5%;}
            }
            .title-text {
                display: inline-block;
                position: relative;
                padding: 0 20px;
                background: $white;
                z-index: 2;
                @media screen and (max-width: 650px) {padding: 0 10px !important;}
                @media (max-width: 517px) { max-width: 300px;}
                @media (max-width: 320px) {max-width: 205px;}
            }
        }
    } //block


    .cyc {@include font-size(14px);font-weight: bold; color: #868686;text-transform: uppercase;}
    .down-icon {color: $red;@include font-size(35px);}

    // CLUB LIST
    .club-wrapper {position: relative}
    .club-list {
        position: absolute;z-index: 99;width: 100%;background-color: rgba(0, 0, 0, 0.5);
        .club-list-inline {position: relative;width: 100%;}
        .navbar-center {
            position: relative;
            width: 100%;
            text-align: center;
            margin : 10px auto;
            float: none;
            max-width: 1200px;
            li {
                float: none;
                display: inline-block;
                border-right: 1px solid #4d4847;
                &:last-child {border-right:none;}
                a {
                    padding: 10px 30px;
                    @include font-size(14px);
                    color: #c3c2c2;
                    text-transform: uppercase;
                    background: none;
                    &:hover {color: $red;}
                    @media (max-width: 1200px) {padding: 10px 15px !important;}
                    @media (max-width: 500px) {padding: 5px 5px !important;}
                }
            }
            li.active { a {color: $red;font-weight: bold;}}
        }
        @media (max-width: 768px) {display: none;}
    }
    .club-list-mobile {
        display: none;
        position: relative;
        z-index: 1;
        .btn {
            background: black;color: $white;width: 100%;border: none;@include border-radius(0px);padding: 10px 5px;
            &:active, &:focus {background: black;color: $white;}
        }
        .dropdown-menu {
            background-color: rgba(43,42,43,.9);width: 100%;background: black;@include border-radius(0px);top: 40px;
            li {
                border-bottom: 1px #464646 solid;
                &:last-child {border-bottom: none;}
                a {
                    color: $white;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    &:hover {
                        background: #464646;
                    }
                }
            }
        }
        @media (max-width: 768px) {display: block;}
    }

    // SLIDESHOW
    .slideshow {
        background: #f5f5f5;
        .item {
            img {width: 100%;}
        }
        .carousel-caption {
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            left: 0;
            bottom: 0;
            padding : 40px 60px;
            @media (max-width: 480px) {background: $black; position: relative;padding : 20px 20px;}
        }
        // Reset carousel-indicators class style
        .carousel-indicators {
            position: initial;
            bottom: initial;
            left: initial;
            z-index: initial;
            width: initial;
            padding-left: initial;
            margin-left: initial;
            list-style: initial;
            .active {width: initial;height: initial;margin: initial;background-color: initial;}
            li {
                display: initial;
                width: initial;
                height: initial;
                margin: initial;
                text-indent: initial;
                cursor: initial;
                background-color: initial;
                background-color: initial;
                border: initial;
                border-radius: initial;
            }
        }
    }

    // THUMBNAIL
    .thumbs {
        position: relative !important;
        margin-top: 20px !important;
        width: 100% !important;
        @media (max-width: 991px) {margin-top: 15px !important;}
        @media (max-width: 767px) {margin-top: 10px !important;}
        .box {
            position: relative;
            height: 200px !important;
            width: 25% !important;
            @media (max-width: 1200px) {height: 180px !important;}
            @media (max-width: 991px) {height: 120px !important;}
            @media (max-width: 767px) {height: 90px !important;padding: 0 10px;}
            @media (max-width: 480px) {height: 60px !important;}
            @media (max-width: 320px) {height: 40px !important;padding: 0 5px;}
            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            .box-inner {
                height: 100%;
                width: 100%;
                overflow: hidden;
                position: relative;
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: url(grayscale.svg); /* Firefox 4+ */
                filter: gray; /* IE 6-9 */
                &:hover {
                    -webkit-filter: initial;
                    -moz-filter: initial;
                    -ms-filter: initial;
                    -o-filter: initial;
                    filter: initial;
                    filter: initial; /* Firefox 4+ */
                    filter: initial;/* IE 6-9 */
                }
            }
        }
        .active {
            .box-inner {
                -webkit-filter: initial;
                -moz-filter: initial;
                -ms-filter: initial;
                -o-filter: initial;
                filter: initial;
                filter: initial; /* Firefox 4+ */
                filter: initial;/* IE 6-9 */
            }
        }

        // Control
        .carousel-control {display: block;top: 120px;width: auto;}
        .right {right:-25px;}
        .left {left:-25px;}
        .glyphicon-chevron-right {background: url('../img/club/right-arr.png') no-repeat;&:before {content: "";}}
        .glyphicon-chevron-left {background: url('../img/club/left-arr.png') no-repeat;&:before {content: "";}}
        @media (max-width: 1300px) {.carousel-control {display: none;}}
    }

    .information {
        width: 100%;
        position: relative;
        display: table;
        margin: 40px auto;
        padding-top: 40px;
        h3 {@include font-size(16px);text-transform: uppercase;font-weight: bold;}
        @media (max-width: 991px) {padding-top: 20px; margin: 40px 0; .col-md-6:first-child {padding-bottom: 20px;}}
        .see-more-btn {
            text-align: center;
            margin-top: 35px;
            a {
                text-decoration: none;
                @include font-size(17px);
                color: #000;
                padding: 5px 30px;
                border : 2px solid #808285;
                text-transform: uppercase;
                font-weight: bold;
                @media (max-width: 480px) {padding: 5px;@include font-size(14px)}
                &:hover {
                    text-decoration: none;
                    background: #808285;
                    color: $white;
                    @include transition(all .4s ease-in-out);
                }
            }
        }
    }

    .quan {display:none;}
       .carousel.slide.desktop {
       @media (min-width:768px) {
	       display: block;
       }

		@media (max-width:767px) {
			display: none;
		}
	}
		.carousel.slide.mobile {
		display: none;
 @media (max-width:767px) {
			display: block;
		}
	}


}

    .bien-hoa-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-bien-hoa.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-bien-hoa.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }
    .binh-duong-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-binh-duong.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-binh-duong.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }
     .ha-noi-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-ha-noi.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-ha-noi.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }
   .da-nang-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-da-nang.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-da-nang.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }
    .nha-trang-club-page .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/club/banner-nha-trang.jpg) center top no-repeat;
        background-size: cover;
        }
        @media (max-width:767px) {
        	position: relative;
            background: #fff url(../img/club/m-banner-nha-trang.jpg) center top no-repeat;
            background-size: cover;
            min-height: 500px;
        }
     }