@import '../lib';
.club-page {

    .map-info-full {
        background-color: #f5f5f5;
    }

    .mobile-menu {
        position: absolute;
        top: 0; 
        right: 0; 
        z-index: 1;
        
        .btn {
            .fa {color: white;}
            background: 0 0;
            border: none;
        } 
        .open {
            .dropdown-toggle.btn-default:focus, 
                .dropdown-toggle.btn-default:hover {
                color: #333;
                background: none;
                border: none;
                .fa {color: #ccc;}
            }
        }
        .dropdown-menu {
            right: 15px;
            background-color: #2b2a2b;
            li {
                line-height: 40px;
                border-bottom: 1px #464646 solid;
                &:last-child { border-bottom: none;}
                a {
                    padding-top: 7px;
                    padding-bottom: 7px;
                    background-color: #2b2a2b;
                    border-color: #464646;
                    display: block;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    .menu-trans,.info-trans {
        background-color: rgba(0 , 0 , 0 , 0.5);
    }

    .menu-trans {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .info-trans {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .selection-center-intro {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15%;
        padding-right: 15%;
        color: #c3c2c2;
        font-weight: 400;
        text-align: justify;
    }

    .club-introduction-detail {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .whitespace-small {
        padding: 5spx 0;
        clear: both;
    }

    .whitespace {
        padding: 10px 0;
        clear: both;
    }

    .whitespace-x2 {
        padding: 20px 0;
        clear: both;
    }

    .whitespace-x3 {
        padding: 30px 0;
        clear: both;
    }

    .center-location {
        text-align: center;
    }

    ul.center-menu {
        padding-top: 15px;
        display: inline-block;
    }

    ul.center-menu li {
        list-style-type: none;
        float: left;
        margin: 10px;
        border-right: 1px solid #c3c2c2;
        padding-right: 18px;
    }

    ul.center-menu li:last-child{
        border-right: none;
    }

    ul.center-menu li a{
        color: #c3c2c2;
        font-size: 10px;
        text-transform: uppercase;
    }

    ul.center-menu li a:hover {
        text-decoration: none;
    }

    .selection-center h2 {
        border-bottom: 1px solid #da2128;
        line-height: .1em;
        margin: 30px auto;
        text-align: center;
        width: 50%;
        color: #da2128;
    }

    .selection-center h3 {
        text-transform: uppercase;
    }

    .selection-center h2 span.location {
        background: #fff;
        padding: 0 10px;
        text-transform: uppercase;
    }

    .extra-images img {
        max-height: 95px;
        width: 100%;
    }

    .map-img {
        padding-top: 15px;
    }

    h3.map-title {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .booking-widget {
        text-align: center;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #f00;
    }

    .carousel-indicators {
        position: relative !important;
        bottom: 0px !important;
        left: 0px !important;
        z-index: 0px !important;
        width: 100% !important;
        padding-left: 0px !important;
        margin-left: 0px !important;
        list-style: none !important;
    }

    .carousel-indicators .active{
        max-height: 95px !important;
        width: 25% !important;
    }

    .carousel-indicators img:hover {
        cursor: pointer;
    }

    .carousel-indicators .active img {
        border: 2px solid #da2128;
    }

    .carousel-caption {
        position: absolute !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        left: 0 !important;
        z-index: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        background-color: rgba(0,0,0,0.5) !important;
    }

    .carousel-caption p {
        padding-left: 15%;
        padding-right: 15%;
    }

    .carousel-control  {
        position: relative !important;
    }

    .extra-info span.left img {
        float: right;
        padding-top: 50%
    }

    .extra-info span.right img {
        float: left;
        padding-top: 50%
    }

    .booking-btn {
        border: 2px solid #000;
        font-size: 20px;
        font-weight: 600;
        color: #000;
        border-radius: 0 !important;
        background-color: transparent !important;
        text-transform: uppercase;
    }

    @media screen and (max-width: 768px) {
        .map-information {
            text-align: center;
        }

        .carousel-control {display: none;}
    }

    @media screen and (max-width: 480px) {

        .selection-center h2 span.location {
            font-size: 14px;
        }
    }



}