@import '../lib';

.contact-us-page {
    fieldset {
        border: 2px solid $red;
        legend {
            color: $red;
            text-align: center;
            width: auto;
            font-size: 40px;
            border: none;
            margin-bottom: 0;
            padding-left: 20px;
            padding-right: 20px;
            @media (max-width: 767px){font-size: 16px;}
            @media (max-width: 480px){font-size: 16px;}
        }
    }

.banner-top {
		@media (min-width:768px){
        position: relative;
        background: url(../img/contact-us/contact-banner.jpg) center top no-repeat;
        background-size: 100%;
        }
        @media (max-width:767px) {
        	position: relative;
	         background: url(../img/contact-us/contact-banner.jpg) no-repeat;
	         background-size: cover;
	         min-height: 500px;
        }
		.cta {
			max-width: 40vw;
			margin: 24vw 0 50px 10%;
			padding: 20px;
			position: relative;
			@media (min-width:768px) and (max-width:1200px){
				max-width: 50vw;
			}
			@media (max-width: 767px) {
			width: 100%;
			max-width: 500px;
			margin-left: auto;
			margin: 450px auto 0 auto;
			padding: 50px 10px;
			position: relative;
			float: none;

			 }
			 @media (max-width:550px) {
				position: absolute;
				margin: 0px auto;
				bottom: 50px;
				padding: 0px 10px;
			 }

		 fieldset {
            position: relative;
            border: 1px solid $red;
            padding: 0 30px 30px;
            height: auto;
            @media (max-width: 767px) {
                padding: 10px 10px 20px 10px;
                height:auto;
            }
            @media (max-width: 484px) {

            }
            legend {
                color: $red;
                text-align: center;
                width: auto;
				line-height: 1.1em;
				text-transform: uppercase;
				font-weight: 400;
                border: none;
                margin-bottom: 0;
                padding-left: 20px;
                padding-right: 20px;

                @media (max-width: 2000px) {
                     font-size: 2vw;
                }
                @media (max-width: 767px){
                    padding: 10px 0 0 0;
                    font-size: 35px;

					line-height: 1.1em;
					text-transform: uppercase;
					font-weight: 400;

	                }
	                @media (max-width:550px) {
		              font-size: 6.4vw;
	                }
	            }
	            hr {border-bottom:1px solid $red; height: 0px; border-top:0px; margin-top:10px; margin-bottom: 10px; max-width: 72%;}
	            span { text-align: center; color: $white; text-transform: uppercase; text-align: center; display: block; margin: 0 auto;
		           @media (max-width: 767px) {
		           		padding-bottom: 10px;
		           		font-size: 1em;
		           }
	            }
	            .red-btn {

	            	position: absolute;
					  width: 100%;
					  left: 0px;
					  bottom: -20px;
		            a {
			              color: $white;
						  font-size: 12px;
						  background: $red;
						  border-radius: 20px;
						  text-decoration: none;
						  position: relative;
						  margin: 0 auto;
						  padding: 10px 30px;
						  bottom: 0;
						  display: block;
						  width: 40%;
						  text-align: center;
						  text-transform: uppercase;
						  white-space: nowrap;
						  font-weight: 600;
						  @media (max-width:767px){
							  width: 55%;
							  padding: 10px 15px;
						  }
		            }
	            }
	        }
		}
	}
    .contact{
        text-align: center;
       
        #form { width: 310px; margin: 0 auto;}
        h1 {
            font-size: 28px;
            border: 1px solid;
            color: $red;
            font-weight: normal;
            padding: 20px;
            margin-top: 60px;
            margin-bottom: 20px;
        }
        p{text-transform: uppercase;}
        div{
            a{
                color:$black;margin-top: 20px;text-decoration: none;
                img{margin-bottom: 20px;}
                span{display: block;font-size: 13px;margin-bottom: 40px;}
            }
        }
	    
	    @media (max-width:480px){
		    padding-left: 0px;
		    padding-right: 0px;
		    margin-left: auto;
		    margin-right: auto;
		    .col-lg-offset-2.col-md-offset-2.col-md-8.col-lg-8.col-sm-12.col-xs-12 {
			    padding-left: 0px;
			    padding-right: 0px;
		    }
	    }
    }
}