.dance-services-page .top-content .carousel-caption {
  font-size: 50px;
  left: 10%;
  bottom: 15%;
  right: 0;
  line-height: 65px;
  text-align: left;
  display: inline-block;
  width: 600px;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .dance-services-page .top-content .carousel-caption strong {
    font-weight: 300; }
  .dance-services-page .top-content .carousel-caption a {
    color: #ffffff;
    font-size: 10px;
    background: #db2128;
    padding: 15px 20px;
    display: inline-block; }
  @media (min-width: 768px) and (max-width: 991px) {
    .dance-services-page .top-content .carousel-caption {
      font-size: 40px;
      line-height: normal; } }
  @media (max-width: 767px) {
    .dance-services-page .top-content .carousel-caption {
      width: auto;
      right: 5%;
      font-size: 20px;
      bottom: 5%;
      line-height: normal;
      left: 5%; } }
  @media (max-width: 480px) {
    .dance-services-page .top-content .carousel-caption {
      width: auto;
      right: 5%;
      font-size: 20px;
      bottom: 5%;
      line-height: normal;
      left: 5%; } }
.dance-services-page .calidance .embed-responsive-4by3 {
  padding-bottom: 50%; }
.dance-services-page .discover .nav-tabs {
  text-align: center;
  background: #db2128;
  border: none; }
  .dance-services-page .discover .nav-tabs li {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0; }
    .dance-services-page .discover .nav-tabs li a {
      color: #ffffff;
      background-color: transparent;
      border-radius: 0;
      border-left: 0;
      border-bottom: 1px solid transparent;
      border-right: 0;
      border-top: 0;
      padding: 0;
      display: block;
      margin: 20px 10px; }
      @media (max-width: 767px) {
        .dance-services-page .discover .nav-tabs li a {
          margin: 10px; } }
      @media (max-width: 480px) {
        .dance-services-page .discover .nav-tabs li a {
          margin: 10px; } }
  .dance-services-page .discover .nav-tabs .active a {
    border-color: #ffffff; }
  .dance-services-page .discover .nav-tabs :hover a {
    border-color: #ffffff; }
.dance-services-page .discover .tab-content .carousel-caption {
  top: 80px; }
  .dance-services-page .discover .tab-content .carousel-caption h3 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(219, 33, 40, 0.6);
    display: inline-block;
    padding: 50px 120px;
    margin-bottom: 90px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .dance-services-page .discover .tab-content .carousel-caption h3 {
        padding: 20px 50px;
        margin-bottom: 30px; } }
    @media (max-width: 767px) {
      .dance-services-page .discover .tab-content .carousel-caption h3 {
        display: none; } }
    @media (max-width: 480px) {
      .dance-services-page .discover .tab-content .carousel-caption h3 {
        display: none; } }
  .dance-services-page .discover .tab-content .carousel-caption p {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100; }
    .dance-services-page .discover .tab-content .carousel-caption p :first-child {
      font-weight: 300;
      letter-spacing: 1px; }
    @media (max-width: 767px) {
      .dance-services-page .discover .tab-content .carousel-caption p {
        font-size: 14px; } }
    @media (max-width: 480px) {
      .dance-services-page .discover .tab-content .carousel-caption p {
        font-size: 14px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .dance-services-page .discover .tab-content .carousel-caption {
      top: 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .dance-services-page .discover .tab-content .carousel-caption {
      top: 0; } }
  @media (max-width: 767px) {
    .dance-services-page .discover .tab-content .carousel-caption {
      left: 0;
      top: 0;
      width: 100%;
      position: relative;
      color: #000;
      text-shadow: none;
      font-weight: normal;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 480px) {
    .dance-services-page .discover .tab-content .carousel-caption {
      left: 0;
      top: 0;
      width: 100%;
      position: relative;
      color: #000;
      text-shadow: none;
      font-weight: normal;
      padding-left: 15px;
      padding-right: 15px; } }
.dance-services-page .benefits {
  width: 900px;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .dance-services-page .benefits {
      width: 100%; } }
  @media (max-width: 767px) {
    .dance-services-page .benefits {
      width: 100%; } }
  @media (max-width: 480px) {
    .dance-services-page .benefits {
      width: 100%; } }
  .dance-services-page .benefits .cover {
    position: relative;
    padding: 0px;
    overflow: hidden;
    border-right: 2px solid #ffffff; }
    .dance-services-page .benefits .cover :hover img {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
    @media (max-width: 767px) {
      .dance-services-page .benefits .cover a {
        margin-bottom: 20px;
        display: block; } }
    @media (max-width: 480px) {
      .dance-services-page .benefits .cover a {
        margin-bottom: 20px;
        display: block; } }
    .dance-services-page .benefits .cover .content-over {
      position: absolute;
      background: rgba(219, 33, 40, 0.6);
      bottom: 0;
      display: inline-block;
      color: #ffffff;
      width: 100%;
      padding: 5px 10px;
      font-size: 13px;
      height: 120px; }
      .dance-services-page .benefits .cover .content-over h4 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 0; }
      .dance-services-page .benefits .cover .content-over p {
        margin-bottom: 2px;
        margin-top: 2px; }
    .dance-services-page .benefits .cover img {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
.dance-services-page .stories ul {
  margin: 0; }
  .dance-services-page .stories ul li {
    margin-bottom: 40px;
    list-style: none;
    display: block; }
    .dance-services-page .stories ul li p {
      margin-left: 30px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .dance-services-page .stories ul li p {
          margin-left: 0; } }
    .dance-services-page .stories ul li p:first-child {
      margin-top: 40px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .dance-services-page .stories ul li p:first-child {
          margin-top: 20px; } }
    .dance-services-page .stories ul li .seemore {
      font-size: 20px;
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      border: 1px solid;
      padding: 5px 40px; }
  @media (max-width: 767px) {
    .dance-services-page .stories ul {
      padding-left: 0; } }
  @media (max-width: 480px) {
    .dance-services-page .stories ul {
      padding-left: 0; } }
@media (max-width: 767px) {
  .dance-services-page .stories {
    margin-left: 0; } }
@media (max-width: 480px) {
  .dance-services-page .stories {
    margin-left: 0; } }
.dance-services-page .contactform {
  font-family: 'vni-avo-normal';
  text-align: center;
  text-transform: uppercase; }
  .dance-services-page .contactform h2 {
    color: #000;
    width: 100%;
    border: 1px solid;
    display: inline-block;
    padding: 30px 80px;
    margin-bottom: 10px; }
  .dance-services-page .contactform h3 {
    font-size: 16px;
    font-weight: normal; }
  .dance-services-page .contactform p {
    font-size: 14px; }
.dance-services-page .trainers center {
  font-weight: bold;
  margin-bottom: 20px; }
.dance-services-page .trainers .area {
  border: none;
  text-align: center; }
  .dance-services-page .trainers .area li {
    float: none;
    display: inline-block; }
    .dance-services-page .trainers .area li a {
      border: none;
      font-weight: bold;
      color: #000; }
  .dance-services-page .trainers .area :hover a {
    background-color: transparent;
    color: #db2128; }
  .dance-services-page .trainers .area .active a {
    border: none;
    color: #db2128; }
  .dance-services-page .trainers .area .active a:hover {
    border: none;
    color: #db2128; }
  .dance-services-page .trainers .area .active a:focus {
    border: none;
    color: #db2128; }
.dance-services-page .trainers .teacher-detail {
  margin-top: 60px; }
  .dance-services-page .trainers .teacher-detail ul.nav-tabs {
    border: none;
    text-align: center;
    font-weight: bold; }
    .dance-services-page .trainers .teacher-detail ul.nav-tabs li {
      float: none;
      display: list-item; }
      .dance-services-page .trainers .teacher-detail ul.nav-tabs li a {
        border: none;
        color: #000; }
        .dance-services-page .trainers .teacher-detail ul.nav-tabs li a img {
          width: 100%; }
      .dance-services-page .trainers .teacher-detail ul.nav-tabs li :hover {
        background: transparent !important; }
      .dance-services-page .trainers .teacher-detail ul.nav-tabs li :focus {
        background: transparent !important; }
      @media (max-width: 767px) {
        .dance-services-page .trainers .teacher-detail ul.nav-tabs li {
          float: left;
          width: 50%; } }
      @media (max-width: 480px) {
        .dance-services-page .trainers .teacher-detail ul.nav-tabs li {
          float: left;
          width: 50%; } }
  .dance-services-page .trainers .teacher-detail .tab-content h3 {
    color: #db2128;
    margin-bottom: 0; }
  .dance-services-page .trainers .teacher-detail .tab-content h4 {
    color: #db2128;
    font-weight: normal;
    margin-top: 0; }
  @media (max-width: 480px) {
    .dance-services-page .trainers .teacher-detail .tab-content img {
      display: none; } }
.dance-services-page .school {
  margin-top: 60px; }
  .dance-services-page .school .carousel-caption {
    background: rgba(219, 33, 40, 0.6);
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    text-transform: uppercase;
    padding-top: 23px;
    font-size: 16px;
    letter-spacing: 1px; }
.dance-services-page h2 {
  text-transform: uppercase;
  text-align: center;
  color: #db2128;
  width: 350px;
  margin: 60px auto;
  position: relative; }
  @media (max-width: 480px) {
    .dance-services-page h2 .line {
      display: none; } }
  .dance-services-page h2 .line:first-child {
    width: 180px;
    display: inline-block;
    position: absolute;
    background-color: #db2128;
    height: 3px;
    left: -200px;
    top: 25px; }
    @media (max-width: 767px) {
      .dance-services-page h2 .line:first-child {
        display: none; } }
    @media (max-width: 480px) {
      .dance-services-page h2 .line:first-child {
        display: none; } }
  .dance-services-page h2 .line:last-child {
    width: 180px;
    display: inline-block;
    position: absolute;
    background-color: #db2128;
    height: 3px;
    right: -200px;
    top: 25px; }
    @media (max-width: 767px) {
      .dance-services-page h2 .line:last-child {
        display: none; } }
    @media (max-width: 480px) {
      .dance-services-page h2 .line:last-child {
        display: none; } }
  @media (max-width: 767px) {
    .dance-services-page h2 {
      width: 100%;
      overflow: hidden;
      font-size: 28px; } }
  @media (max-width: 480px) {
    .dance-services-page h2 {
      width: 100%;
      overflow: hidden;
      margin: 40px auto;
      font-size: 28px; } }

/*# sourceMappingURL=dance-services.css.map */
