@import '../lib';

.container-fluid.page.find-a-club-page {
    h4 { line-height: 1.3em;}
    .list-city {
        margin: 20px auto;
        clear: both;
        .city {
            margin-bottom: 30px;
            img {
                @include border-radius(50%);
                padding: 7px;
                border: 1px outset $red;
            }
            h4 {
                text-transform: uppercase;
                text-align: center;
                font-size: 1.5em;
                margin-top: 20px;
                font-weight: bold;
            }
        }
    }

} /* ./find-a-club-page */