@import '../lib';

.container-fluid.page.find-a-club-page {
    h4 { line-height: 1.3em;}
    .banner-top {
    	@media (min-width:768px) {
	    background: #000 url(../img/find-a-club-in-your-city/find-a-club-banner.jpg) center top no-repeat;
	    background-size: 100%;
	    min-height: 500px;
	    }
	    @media (max-width:767px) {
		    background: #000 url(../img/find-a-club-in-your-city/m-find-a-club-banner.jpg) center top no-repeat;
		    background-size: cover;
			min-height: 300px;
	    }
    }
  

    .list-city {
        margin: 20px auto;
        clear: both;
        .city {
          a {color: #000;
	    &:hover {
		    color: $red;
		    cursor: hand;
		   }
            margin-bottom: 30px;
            img {
                @include border-radius(50%);
                padding: 7px;
                border: 1px outset $red;
            }
        
          }
        }
            h4 {
                text-transform: uppercase;
                text-align: center;
                font-size: 1.5em;
                margin-top: 20px;
                font-weight: bold;
                
            }
            span {font-size: .6em;}
    }

} /* ./find-a-club-page */