.member-testimonials-page img, .member-testimonials-page p, .member-testimonials-page h1, .member-testimonials-page h2, .member-testimonials-page h3, .member-testimonials-page h4, .member-testimonials-page a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
.member-testimonials-page .white-space {
  padding: 10px 0;
  clear: both; }
.member-testimonials-page .white-space-2x {
  padding: 20px 0;
  clear: both; }
.member-testimonials-page .white-space-3x {
  padding: 30px 0;
  clear: both; }
.member-testimonials-page .banner-top {
  position: relative;
  background: #fff url(../img/member-testimonials/banner.jpg) center top no-repeat;
  background-size: 100%; }
  @media (max-width: 767px) {
    .member-testimonials-page .banner-top {
      background: #fff url(../img/member-testimonials/banner.jpg) center top no-repeat;
      background-size: cover;
      min-height: 500px; } }
  .member-testimonials-page .banner-top .cta {
    max-width: 42vw;
    margin: 20vw 0 90px 15%;
    padding: 20px;
    position: relative; }
    @media (min-width: 2000px) {
      .member-testimonials-page .banner-top .cta {
        max-width: 475px;
        margin: 450px 0 90px 15%;
        padding: 20px;
        position: relative; } }
    @media (min-width: 768px) and (max-width: 1200px) {
      .member-testimonials-page .banner-top .cta {
        max-width: 50vw; } }
    @media (max-width: 767px) {
      .member-testimonials-page .banner-top .cta {
        max-width: 500px;
        margin-left: auto;
        margin: 450px auto 0 auto;
        padding: 50px 10px;
        position: relative;
        float: none; } }
    @media (max-width: 550px) {
      .member-testimonials-page .banner-top .cta {
        position: absolute;
        margin: 0px auto;
        bottom: 50px;
        padding: 0px 10px; } }
    .member-testimonials-page .banner-top .cta fieldset {
      position: relative;
      border: 1px solid #db2128;
      padding: 0 30px 30px;
      height: auto; }
      @media (max-width: 767px) {
        .member-testimonials-page .banner-top .cta fieldset {
          padding: 10px 10px 20px 10px;
          height: auto; } }
      .member-testimonials-page .banner-top .cta fieldset legend {
        color: #db2128;
        text-align: center;
        width: auto;
        line-height: 1.1em;
        text-transform: uppercase;
        font-weight: 400;
        border: none;
        margin-bottom: 0;
        padding-left: 20px;
        padding-right: 20px; }
        @media (max-width: 2000px) {
          .member-testimonials-page .banner-top .cta fieldset legend {
            font-size: 2vw; } }
        @media (max-width: 767px) {
          .member-testimonials-page .banner-top .cta fieldset legend {
            padding: 10px 0 0 0;
            font-size: 35px;
            line-height: 1.1em;
            text-transform: uppercase;
            font-weight: 400; } }
        @media (max-width: 550px) {
          .member-testimonials-page .banner-top .cta fieldset legend {
            font-size: 6.4vw; } }
      .member-testimonials-page .banner-top .cta fieldset hr {
        border-bottom: 1px solid #db2128;
        height: 0px;
        border-top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 72%; }
      .member-testimonials-page .banner-top .cta fieldset span {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 15px 25px 0px; }
        @media (max-width: 767px) {
          .member-testimonials-page .banner-top .cta fieldset span {
            padding-bottom: 10px;
            font-size: .79em; } }
      .member-testimonials-page .banner-top .cta fieldset .red-btn {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -20px; }
        .member-testimonials-page .banner-top .cta fieldset .red-btn .red-btn-inline {
          position: relative;
          text-align: center; }
        .member-testimonials-page .banner-top .cta fieldset .red-btn a {
          color: #ffffff;
          font-size: 12px;
          background: #db2128;
          border-radius: 20px;
          text-decoration: none;
          position: relative;
          margin: 0 auto;
          padding: 10px 30px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          white-space: nowrap;
          font-weight: 600; }
          @media (max-width: 767px) {
            .member-testimonials-page .banner-top .cta fieldset .red-btn a {
              padding: 10px 15px; } }
          @media (max-width: 550px) {
            .member-testimonials-page .banner-top .cta fieldset .red-btn a {
              bottom: 0; } }
  .member-testimonials-page .banner-top .carousel-caption {
    font-size: 40px;
    left: 10%;
    bottom: 13%;
    right: 0;
    color: #db2128;
    line-height: 40px;
    text-align: left;
    display: inline-block;
    width: 550px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center; }
    @media (max-width: 2000px) {
      .member-testimonials-page .banner-top .carousel-caption {
        max-width: 40vw; } }
    @media (max-width: 1360px) {
      .member-testimonials-page .banner-top .carousel-caption {
        bottom: 2%; } }
    @media (max-width: 991px) {
      .member-testimonials-page .banner-top .carousel-caption {
        max-width: 50vw;
        left: 5%; } }
    .member-testimonials-page .banner-top .carousel-caption strong {
      font-weight: 300; }
    .member-testimonials-page .banner-top .carousel-caption hr {
      background: #db2128;
      height: 2px;
      border: none;
      max-width: 50%;
      margin: 20px auto; }
      @media (max-width: 767px) {
        .member-testimonials-page .banner-top .carousel-caption hr {
          margin: 10px auto 0 auto; } }
      @media (max-width: 480px) {
        .member-testimonials-page .banner-top .carousel-caption hr {
          margin: 3px auto;
          height: 1px; } }
    .member-testimonials-page .banner-top .carousel-caption span {
      color: #ffffff;
      font-size: 16px;
      display: inline-block;
      margin-bottom: 30px;
      line-height: 150%; }
      @media (min-width: 768px) and (max-width: 991px) {
        .member-testimonials-page .banner-top .carousel-caption span {
          margin-top: 0px;
          padding-top: 10px; } }
      @media (max-width: 767px) {
        .member-testimonials-page .banner-top .carousel-caption span {
          font-size: 14px;
          margin-top: 0px;
          padding-top: 10px;
          margin-bottom: 20px; } }
      @media (max-width: 480px) {
        .member-testimonials-page .banner-top .carousel-caption span {
          font-size: .8em;
          margin-bottom: 10px;
          padding-top: 0;
          margin-top: 0; } }
.member-testimonials-page #member-list .carousel-control {
  background: 0 0; }
  .member-testimonials-page #member-list .carousel-control .glyphicon {
    color: #db2128; }
  @media (max-width: 480px) {
    .member-testimonials-page #member-list .carousel-control {
      background: 0 0;
      -moz-transform: translate3d(0px, -50%, 0px);
      -o-transform: translate3d(0px, -50%, 0px);
      -webkit-transform: translate3d(0px, -50%, 0px);
      transform: translate3d(0px, -50%, 0px);
      top: 50%;
      height: 20px; } }
.member-testimonials-page #member-list .item .box img {
  border: 1px solid #989898;
  padding: 10px;
  width: 100%;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-color: #db2128;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */ }
.member-testimonials-page #member-list .item .box p {
  color: #333;
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
  cursor: pointer; }
.member-testimonials-page #member-list .item .box:hover img {
  border-color: #db2128;
  -webkit-filter: initial;
  -moz-filter: initial;
  -ms-filter: initial;
  -o-filter: initial;
  filter: initial;
  filter: initial;
  /* Firefox 4+ */
  filter: initial;
  /* IE 6-9 */
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden; }
.member-testimonials-page #member-list .item .box:hover p {
  color: #db2128; }
.member-testimonials-page #member-list .item .active img {
  border-color: #db2128;
  -webkit-filter: initial;
  -moz-filter: initial;
  -ms-filter: initial;
  -o-filter: initial;
  filter: initial;
  filter: initial;
  /* Firefox 4+ */
  filter: initial;
  /* IE 6-9 */ }
.member-testimonials-page #member-list .item .active p {
  color: #db2128; }
.member-testimonials-page .story {
  display: none; }
  .member-testimonials-page .story .image {
    padding: 30px;
    width: 100%;
    background: url("../img/member-testimonials/bg.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; }
    .member-testimonials-page .story .image .img-wrapper {
      position: relative;
      margin: 0 auto;
      width: 50%; }
      @media (max-width: 992px) {
        .member-testimonials-page .story .image .img-wrapper {
          width: 100%; } }
      .member-testimonials-page .story .image .img-wrapper img {
        width: 100%; }
      .member-testimonials-page .story .image .img-wrapper .before {
        position: absolute;
        top: 25%;
        left: 25%;
        text-align: right; }
        .member-testimonials-page .story .image .img-wrapper .before h3 {
          font-size: 40px;
          font-size: calculateRem(40px);
          text-transform: uppercase;
          color: #db2128;
          border-bottom: 1px solid #838383;
          padding-bottom: 5px; }
        .member-testimonials-page .story .image .img-wrapper .before p {
          font-size: 30px;
          font-size: calculateRem(30px);
          color: #ffffff;
          padding: 0;
          margin: 2px; }
        @media (max-width: 2000px) {
          .member-testimonials-page .story .image .img-wrapper .before {
            top: 20%;
            left: 23%; }
            .member-testimonials-page .story .image .img-wrapper .before h3 {
              font-size: 2vw;
              font-size: calculateRem(2vw);
              padding-bottom: 2px; }
            .member-testimonials-page .story .image .img-wrapper .before p {
              font-size: 1.5vw;
              font-size: calculateRem(1.5vw);
              color: #ffffff;
              padding: 0;
              margin: 2px; } }
        @media (max-width: 992px) {
          .member-testimonials-page .story .image .img-wrapper .before {
            top: 23%;
            left: 25%; }
            .member-testimonials-page .story .image .img-wrapper .before h3 {
              font-size: 3.5vw;
              font-size: calculateRem(3.5vw); }
            .member-testimonials-page .story .image .img-wrapper .before p {
              font-size: 2.75vw;
              font-size: calculateRem(2.75vw); } }
        @media (max-width: 768px) {
          .member-testimonials-page .story .image .img-wrapper .before {
            top: 20%;
            left: 23%; }
            .member-testimonials-page .story .image .img-wrapper .before h3 {
              font-size: 3.5vw;
              font-size: calculateRem(3.5vw); }
            .member-testimonials-page .story .image .img-wrapper .before p {
              font-size: 2.75vw;
              font-size: calculateRem(2.75vw); } }
        @media (max-width: 480px) {
          .member-testimonials-page .story .image .img-wrapper .before {
            top: 18%;
            left: 20%; }
            .member-testimonials-page .story .image .img-wrapper .before h3 {
              font-size: 4vw;
              font-size: calculateRem(4vw); }
            .member-testimonials-page .story .image .img-wrapper .before p {
              font-size: 3vw;
              font-size: calculateRem(3vw); } }
        @media (max-width: 320px) {
          .member-testimonials-page .story .image .img-wrapper .before {
            top: 16%;
            left: 19%; }
            .member-testimonials-page .story .image .img-wrapper .before h3 {
              font-size: 3.5vw;
              font-size: calculateRem(3.5vw); }
            .member-testimonials-page .story .image .img-wrapper .before p {
              font-size: 2.75vw;
              font-size: calculateRem(2.75vw); } }
      .member-testimonials-page .story .image .img-wrapper .after {
        position: absolute;
        bottom: 25%;
        right: 25%;
        text-align: left; }
        .member-testimonials-page .story .image .img-wrapper .after h3 {
          font-size: 40px;
          font-size: calculateRem(40px);
          text-transform: uppercase;
          color: #db2128;
          border-bottom: 1px solid #838383;
          padding-bottom: 5px; }
        .member-testimonials-page .story .image .img-wrapper .after p {
          font-size: 30px;
          font-size: calculateRem(30px);
          color: #ffffff;
          padding: 0;
          margin: 2px; }
        @media (max-width: 2000px) {
          .member-testimonials-page .story .image .img-wrapper .after {
            bottom: 20%;
            right: 23%; }
            .member-testimonials-page .story .image .img-wrapper .after h3 {
              font-size: 2vw;
              font-size: calculateRem(2vw);
              padding-bottom: 2px; }
            .member-testimonials-page .story .image .img-wrapper .after p {
              font-size: 1.5vw;
              font-size: calculateRem(1.5vw);
              color: #ffffff;
              padding: 0;
              margin: 2px; } }
        @media (max-width: 992px) {
          .member-testimonials-page .story .image .img-wrapper .after {
            bottom: 23%;
            right: 25%; }
            .member-testimonials-page .story .image .img-wrapper .after h3 {
              font-size: 3.5vw;
              font-size: calculateRem(3.5vw);
              padding-bottom: 2px; }
            .member-testimonials-page .story .image .img-wrapper .after p {
              font-size: 2.75vw;
              font-size: calculateRem(2.75vw);
              color: #ffffff;
              padding: 0;
              margin: 2px; } }
        @media (max-width: 768px) {
          .member-testimonials-page .story .image .img-wrapper .after {
            bottom: 20%;
            right: 23%; }
            .member-testimonials-page .story .image .img-wrapper .after h3 {
              font-size: 3.5vw;
              font-size: calculateRem(3.5vw);
              padding-bottom: 2px; }
            .member-testimonials-page .story .image .img-wrapper .after p {
              font-size: 2.75vw;
              font-size: calculateRem(2.75vw);
              color: #ffffff;
              padding: 0;
              margin: 2px; } }
        @media (max-width: 480px) {
          .member-testimonials-page .story .image .img-wrapper .after {
            bottom: 18%;
            right: 22%; }
            .member-testimonials-page .story .image .img-wrapper .after h3 {
              font-size: 4vw;
              font-size: calculateRem(4vw);
              padding-bottom: 2px; }
            .member-testimonials-page .story .image .img-wrapper .after p {
              font-size: 3vw;
              font-size: calculateRem(3vw);
              color: #ffffff;
              padding: 0;
              margin: 2px; } }
        @media (max-width: 320px) {
          .member-testimonials-page .story .image .img-wrapper .after {
            bottom: 16%;
            right: 23%; }
            .member-testimonials-page .story .image .img-wrapper .after h3 {
              font-size: 3.5vw;
              font-size: calculateRem(3.5vw);
              padding-bottom: 2px; }
            .member-testimonials-page .story .image .img-wrapper .after p {
              font-size: 2.75vw;
              font-size: calculateRem(2.75vw);
              color: #ffffff;
              padding: 0;
              margin: 2px; } }
  .member-testimonials-page .story .text {
    margin: auto;
    padding-bottom: 20px;
    line-height: 150%; }
    .member-testimonials-page .story .text h3 {
      margin: 2% 2%;
      font-size: 18px;
      font-size: calculateRem(18px);
      text-transform: uppercase;
      text-align: center;
      color: #868686;
      font-weight: bold; }
    .member-testimonials-page .story .text p {
      margin: 20px 15px;
      font-size: 14px;
      font-size: calculateRem(14px);
      text-align: text; }
    @media (max-width: 500px) {
      .member-testimonials-page .story .text h3 {
        margin: 20px 15px;
        font-size: 17px;
        font-size: calculateRem(17px); }
      .member-testimonials-page .story .text p {
        margin: 25px 15px;
        font-size: 15px;
        font-size: calculateRem(15px); } }

/*# sourceMappingURL=member-testimonials.css.map */
