@import '../lib';
.member-testimonials-page {

    img, p, h1, h2, h3, h4, a {@include transition(all .4s ease);}
    .white-space {padding:10px 0; clear:both;}
    .white-space-2x {padding: 20px 0; clear: both;}
    .white-space-3x {padding: 30px 0; clear: both;} 

    // TOP BANNER
    .top-banner {
        a{
            img {
                width: 100%;
            }
        }
        /*        position: relative;
                text-align: center;
                letter-spacing: 1em;
                line-height: 150%;
                h1.headline {
                    @include font-size(60px);
                    color: $white;
                    font-weight: 300;
                    text-transform: uppercase;
                    position: absolute;
                    left: 15%;
                    bottom: 25%;
                    padding: 3% 4%;
                    border: 1px solid $white;
                    span {
                        font-weight: 100;
                    }
                    @media (max-width: 2000px) {
                        @include font-size(3vw);
                    }
                    @media (max-width: 1000px) {
                        @include font-size(2.5vw);
                        letter-spacing: .5em;
                    }
                }*/
    }

    // SLIDER 
    .carousel {
        .carousel-control {
            background :0 0;
            .glyphicon-chevron-left {
                background: url(../img/member-testimonials/arrows.png) no-repeat;
                height: 50px;
                width: 27px;
                margin-left: 0;
                left: 80%;
                &:before {content: "";}
            }
            .glyphicon-chevron-right {
                background: url(../img/celebrity-members/arrows.png) 0 bottom no-repeat;
                height: 50px;
                width: 27px;
                margin-right: 0;
                right: 80%;
                &:before {content: "";}
            }
        }
        .item {
            .box {
                img {
                    border : 1px solid #989898;
                    padding: 10px;
                    width: 100%;
                    @include border-radius(50%);
                }
                p {
                    color: #333;    
                    text-align:center; 
                    margin: 15px 0;

                    font-weight:bold;

                }
                &:hover {
                    img { border-color: $red; }
                    p {color: $red;}
                } 
            }
            .active {
                img { border-color: $red; }
                p {color: $red;}
            }
        }
    }

    // STORY 
    .story {
        display: none;
        .image {
            padding: 30px;
            width: 100%;
            background: url('../img/member-testimonials/bg.jpg');
            @include background-size(cover);
            text-align: center;
            img {
                width: 50%;
                @media (max-width: 700px){width: 100%;}
            }
        }
        .text {
            line-height: 150%;
            h3{
                margin: 2% 2%;
                @include font-size(18px);
                text-transform: uppercase; 
                text-align: center; 
                color: #868686;
                font-weight: bold;
            }
            p{
                margin: 3% 5%;
                @include font-size(14px);
                text-align: text;
            }
            @media (max-width: 500px){
                h3{
                    margin: 20px 15px;
                    @include font-size(17px);
                }
                p{
                    margin: 20px 15px;
                    @include font-size(15px);   
                }
            }
        }
    }
}
