@import '../lib';
.member-testimonials-page {

    img, p, h1, h2, h3, h4, a {@include transition(all .4s ease);}
    .white-space {padding:10px 0; clear:both;}
    .white-space-2x {padding: 20px 0; clear: both;}
    .white-space-3x {padding: 30px 0; clear: both;} 

    // TOP BANNER
    .top-banner {
        fieldset {
            position: relative;
            border: 2px solid $red;
            padding:0 30px;
            legend {
                color: $red;
                text-align: center;
                width: auto;
                font-size: 35px;
                border: none;
                margin-bottom: 0;
                padding-left: 20px;
                padding-right: 20px;
                @media (max-width: 767px){font-size: 16px;}
                @media (max-width: 480px){font-size: 16px;}
            }
        }
        .carousel-caption {
            font-size: 40px;
            left: 10%;
            bottom: 20%;
            right: 0;
            color:$red;
            line-height: 40px;
            text-align: left;
            display: inline-block;
            width: 550px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            strong {font-weight: 300;}
            span{color: $white;font-size: 16px;display: inline-block;margin-top: 20px;margin-bottom: 30px;border-top:1px solid $red; line-height: 150%; padding-top: 15px; 
                 @media (min-width: 768px) and (max-width: 991px) {margin-top: 0px;padding-top: 10px;}
                 @media (max-width: 767px){font-size: 14px;margin-top: 10px;padding-top: 10px;margin-bottom: 20px;}
                 @media (max-width: 480px){font-size: 14px;margin-top: 10px;padding-top: 10px;margin-bottom: 20px;}
            }
            .red-btn {
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: -20px;
                a{color:$white;font-size: 12px;background:$red;border-radius: 20px;text-decoration: none;width: 140px; position: relative;margin: 0 auto;display: block;bottom: 0;
                  @media (min-width: 768px) and (max-width: 991px) {padding: 5px;}
                }
                @media (min-width: 768px) and (max-width: 991px) {bottom: -13px;}
                @media (max-width: 767px) {bottom: -8px;}
            }
            @media (min-width: 768px) and (max-width: 991px) {font-size:40px;line-height: normal;}
            @media (max-width: 767px) {width: auto;right: 5%;font-size: 16px;bottom: 0;line-height: normal;left: 5%;}
            @media (max-width: 480px){width: auto;right: 5%;font-size: 16px;bottom: 0;line-height: normal;left: 5%;}
        }
    }

    // SLIDER 
    #member-list {
        .carousel-control { 
            background :0 0;
            .glyphicon {background: url(../img/member-testimonials/arrows.png) no-repeat;height: 50px;width: 27px;&:before {content: "";}}
            .glyphicon-chevron-left {;margin-left: 0;left: 80%;}
            .glyphicon-chevron-right {margin-right: 0;right: 80%;background-position: bottom;}
        }
        .item {
            .box {
                img {border : 1px solid #989898;padding: 10px;width: 100%;@include border-radius(50%);}
                p {color: #333;text-align:center;margin: 15px 0;font-weight:bold;}
                &:hover {
                    img { border-color: $red;}
                    p {color: $red;}
                } 
            }
            .active {
                img { border-color: $red; }
                p {color: $red;}
            }
        }
    }

    // STORY 
    .story {
        display: none;
        .image {
            padding: 30px;
            width: 100%;
            background: url('../img/member-testimonials/bg.jpg');
            @include background-size(cover);
            text-align: center;
            img {width: 50%;@media (max-width: 700px){width: 100%;}}
        }
        .text {
            line-height: 150%;
            h3 {
                margin: 2% 2%;
                @include font-size(18px);
                text-transform: uppercase; 
                text-align: center; 
                color: #868686;
                font-weight: bold;
            }
            p {margin: 3% 5%; @include font-size(14px); text-align: text;}
            @media (max-width: 500px){
                h3 {margin: 20px 15px; @include font-size(17px);}
                p {margin: 20px 15px; @include font-size(15px);}
            }
        }
    }
}
