.ptx-services-page fieldset {
  border: 2px solid #db2128; }
  .ptx-services-page fieldset legend {
    color: #db2128;
    text-align: center;
    width: auto;
    font-size: 40px;
    border: none;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px; }
    @media (max-width: 767px) {
      .ptx-services-page fieldset legend {
        font-size: 16px; } }
    @media (max-width: 480px) {
      .ptx-services-page fieldset legend {
        font-size: 16px; } }
.ptx-services-page .top-content .carousel-caption {
  font-size: 40px;
  left: 10%;
  bottom: 20%;
  right: 0;
  color: #db2128;
  line-height: 40px;
  text-align: left;
  display: inline-block;
  width: 600px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: none;
  text-align: center; }
  .ptx-services-page .top-content .carousel-caption strong {
    font-weight: 300; }
  .ptx-services-page .top-content .carousel-caption span {
    color: #ffffff;
    font-size: 18px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    border-top: 1px solid #db2128;
    line-height: normal;
    padding-top: 15px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .ptx-services-page .top-content .carousel-caption span {
        margin-top: 0px;
        padding-top: 10px; } }
    @media (max-width: 767px) {
      .ptx-services-page .top-content .carousel-caption span {
        font-size: 14px;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px; } }
    @media (max-width: 480px) {
      .ptx-services-page .top-content .carousel-caption span {
        font-size: 14px;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px; } }
  .ptx-services-page .top-content .carousel-caption a {
    color: #ffffff;
    font-size: 12px;
    background: #db2128;
    position: absolute;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    width: 140px;
    left: 35%;
    bottom: 12px;
    text-shadow: none; }
    @media (min-width: 768px) and (max-width: 991px) {
      .ptx-services-page .top-content .carousel-caption a {
        bottom: 20px;
        padding: 5px; } }
    @media (max-width: 767px) {
      .ptx-services-page .top-content .carousel-caption a {
        left: 0;
        right: 0;
        margin: 0 auto; } }
    @media (max-width: 480px) {
      .ptx-services-page .top-content .carousel-caption a {
        left: 0;
        right: 0;
        margin: 0 auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .ptx-services-page .top-content .carousel-caption {
      font-size: 40px;
      line-height: normal; } }
  @media (max-width: 767px) {
    .ptx-services-page .top-content .carousel-caption {
      width: auto;
      right: 5%;
      font-size: 16px;
      bottom: 0;
      line-height: normal;
      left: 5%; } }
  @media (max-width: 480px) {
    .ptx-services-page .top-content .carousel-caption {
      width: auto;
      right: 5%;
      font-size: 16px;
      bottom: 0;
      line-height: normal;
      left: 5%; } }
.ptx-services-page .calidance .embed-responsive-4by3 {
  padding-bottom: 50%; }
@media (max-width: 480px) {
  .ptx-services-page .calidance {
    padding: 0; } }
.ptx-services-page .discover .nav-tabs {
  text-align: center;
  background: #db2128;
  border: none; }
  .ptx-services-page .discover .nav-tabs li {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0; }
    .ptx-services-page .discover .nav-tabs li a {
      color: #ffffff;
      background-color: transparent;
      border-radius: 0;
      border-left: 0;
      border-bottom: 1px solid transparent;
      border-right: 0;
      border-top: 0;
      padding: 0;
      display: block;
      margin: 20px 10px; }
      @media (max-width: 767px) {
        .ptx-services-page .discover .nav-tabs li a {
          margin: 10px; } }
      @media (max-width: 480px) {
        .ptx-services-page .discover .nav-tabs li a {
          margin: 10px; } }
  .ptx-services-page .discover .nav-tabs .active a {
    border-color: #ffffff; }
  .ptx-services-page .discover .nav-tabs :hover a {
    border-color: #ffffff; }
.ptx-services-page .discover .tab-content {
  color: #ffffff;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background: url(../../public/img/ptx-services/discover.jpg) no-repeat;
  background-size: cover; }
  .ptx-services-page .discover .tab-content h3 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(219, 33, 40, 0.6);
    display: inline-block;
    padding: 50px 120px;
    margin-bottom: 90px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .ptx-services-page .discover .tab-content h3 {
        padding: 20px 50px;
        margin-bottom: 30px; } }
    @media (max-width: 767px) {
      .ptx-services-page .discover .tab-content h3 {
        padding: 10px 15px;
        margin-bottom: 10px; } }
    @media (max-width: 480px) {
      .ptx-services-page .discover .tab-content h3 {
        padding: 10px 15px;
        margin-bottom: 10px; } }
  .ptx-services-page .discover .tab-content p {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100; }
    .ptx-services-page .discover .tab-content p :first-child {
      font-weight: 300;
      letter-spacing: 1px; }
    @media (max-width: 767px) {
      .ptx-services-page .discover .tab-content p {
        font-size: 14px; } }
    @media (max-width: 480px) {
      .ptx-services-page .discover .tab-content p {
        font-size: 14px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ptx-services-page .discover .tab-content {
      top: 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .ptx-services-page .discover .tab-content {
      top: 0; } }
  @media (max-width: 767px) {
    .ptx-services-page .discover .tab-content {
      width: 100%;
      text-shadow: none;
      font-weight: 400;
      padding-left: 15px;
      left: 0;
      padding-right: 15px;
      top: 0; } }
  @media (max-width: 480px) {
    .ptx-services-page .discover .tab-content {
      width: 100%;
      text-shadow: none;
      font-weight: 400;
      padding-left: 15px;
      left: 0;
      padding-right: 15px;
      top: 0; } }
.ptx-services-page .benefits {
  width: 900px;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .ptx-services-page .benefits {
      width: 100%; } }
  @media (max-width: 767px) {
    .ptx-services-page .benefits {
      width: 100%; } }
  @media (max-width: 480px) {
    .ptx-services-page .benefits {
      width: 100%; } }
  .ptx-services-page .benefits .cover {
    position: relative;
    padding: 0px;
    overflow: hidden;
    border-right: 2px solid #ffffff; }
    .ptx-services-page .benefits .cover :hover img {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
    @media (max-width: 767px) {
      .ptx-services-page .benefits .cover a {
        margin-bottom: 20px;
        display: block; } }
    @media (max-width: 480px) {
      .ptx-services-page .benefits .cover a {
        margin-bottom: 20px;
        display: block; } }
    .ptx-services-page .benefits .cover .content-over {
      position: absolute;
      background: rgba(219, 33, 40, 0.6);
      bottom: 0;
      display: inline-block;
      color: #ffffff;
      width: 100%;
      padding: 5px 10px;
      font-size: 13px;
      height: 120px; }
      .ptx-services-page .benefits .cover .content-over h4 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 0; }
      .ptx-services-page .benefits .cover .content-over p {
        margin-bottom: 2px;
        margin-top: 2px; }
    .ptx-services-page .benefits .cover img {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
.ptx-services-page .stories ul {
  margin: 0; }
  .ptx-services-page .stories ul li {
    margin-bottom: 40px;
    list-style: none;
    display: block; }
    .ptx-services-page .stories ul li p {
      margin-left: 30px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .ptx-services-page .stories ul li p {
          margin-left: 0; } }
    .ptx-services-page .stories ul li p:first-child {
      margin-top: 40px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .ptx-services-page .stories ul li p:first-child {
          margin-top: 20px; } }
    .ptx-services-page .stories ul li .seemore {
      font-size: 20px;
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      border: 1px solid;
      padding: 5px 40px; }
  @media (max-width: 767px) {
    .ptx-services-page .stories ul {
      padding-left: 0; } }
  @media (max-width: 480px) {
    .ptx-services-page .stories ul {
      padding-left: 0; } }
@media (max-width: 767px) {
  .ptx-services-page .stories {
    margin-left: 0; } }
@media (max-width: 480px) {
  .ptx-services-page .stories {
    margin-left: 0; } }
.ptx-services-page .contactform {
  font-family: 'vni-avo-normal';
  text-align: center;
  text-transform: uppercase; }
  .ptx-services-page .contactform h2 {
    color: #000;
    width: 100%;
    border: 1px solid;
    display: inline-block;
    padding: 30px 80px;
    margin-bottom: 10px; }
  .ptx-services-page .contactform h3 {
    font-size: 16px;
    font-weight: normal; }
  .ptx-services-page .contactform p {
    font-size: 14px; }
.ptx-services-page .trainers center {
  font-weight: bold;
  margin-bottom: 20px; }
.ptx-services-page .trainers .area {
  border: none;
  text-align: center;
  display: none; }
  .ptx-services-page .trainers .area li {
    float: none;
    display: inline-block; }
    .ptx-services-page .trainers .area li a {
      border: none;
      font-weight: bold;
      color: #000; }
      @media (max-width: 767px) {
        .ptx-services-page .trainers .area li a {
          padding: 5px 10px; } }
      @media (max-width: 480px) {
        .ptx-services-page .trainers .area li a {
          padding: 5px 10px; } }
  .ptx-services-page .trainers .area :hover a {
    background-color: transparent;
    color: #db2128; }
  .ptx-services-page .trainers .area .active a {
    border: none;
    color: #db2128; }
  .ptx-services-page .trainers .area .active a:hover {
    border: none;
    color: #db2128; }
  .ptx-services-page .trainers .area .active a:focus {
    border: none;
    color: #db2128; }
.ptx-services-page .trainers .teacher-detail {
  margin-top: 60px; }
  @media (max-width: 767px) {
    .ptx-services-page .trainers .teacher-detail {
      margin-top: 10px; } }
  @media (max-width: 480px) {
    .ptx-services-page .trainers .teacher-detail {
      margin-top: 10px; } }
  .ptx-services-page .trainers .teacher-detail ul.nav-tabs {
    border: none;
    text-align: center;
    font-weight: bold; }
    .ptx-services-page .trainers .teacher-detail ul.nav-tabs li {
      float: none;
      display: list-item; }
      .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a {
        border: none;
        color: #000; }
        .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a img {
          width: 100px;
          display: inline-block; }
          @media (max-width: 767px) {
            .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a img {
              width: 100%; } }
          @media (max-width: 480px) {
            .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a img {
              width: 100%; } }
        .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a span {
          display: block; }
          @media (max-width: 767px) {
            .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a span {
              font-size: 80%; } }
          @media (max-width: 480px) {
            .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a span {
              font-size: 80%; } }
        @media (max-width: 767px) {
          .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a {
            padding: 0; } }
        @media (max-width: 480px) {
          .ptx-services-page .trainers .teacher-detail ul.nav-tabs li a {
            padding: 0; } }
      .ptx-services-page .trainers .teacher-detail ul.nav-tabs li :hover {
        background: transparent !important; }
      .ptx-services-page .trainers .teacher-detail ul.nav-tabs li :focus {
        background: transparent !important; }
      @media (max-width: 767px) {
        .ptx-services-page .trainers .teacher-detail ul.nav-tabs li {
          float: left;
          width: 25%; } }
      @media (max-width: 480px) {
        .ptx-services-page .trainers .teacher-detail ul.nav-tabs li {
          float: left;
          width: 25%; } }
  .ptx-services-page .trainers .teacher-detail .tab-content h3 {
    color: #db2128;
    margin-bottom: 0; }
  .ptx-services-page .trainers .teacher-detail .tab-content h4 {
    color: #db2128;
    font-weight: normal;
    margin-top: 0; }
  .ptx-services-page .trainers .teacher-detail .tab-content img {
    display: inline-block; }
    @media (max-width: 767px) {
      .ptx-services-page .trainers .teacher-detail .tab-content img {
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px; } }
    @media (max-width: 480px) {
      .ptx-services-page .trainers .teacher-detail .tab-content img {
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px; } }
  @media (max-width: 767px) {
    .ptx-services-page .trainers .teacher-detail .tab-content .cont {
      padding: 0; } }
  @media (max-width: 480px) {
    .ptx-services-page .trainers .teacher-detail .tab-content .cont {
      padding: 0; } }
  @media (max-width: 767px) {
    .ptx-services-page .trainers .teacher-detail .tab-content {
      padding: 0; } }
  @media (max-width: 480px) {
    .ptx-services-page .trainers .teacher-detail .tab-content {
      padding: 0; } }
@media (max-width: 767px) {
  .ptx-services-page .trainers {
    padding: 0; } }
@media (max-width: 480px) {
  .ptx-services-page .trainers {
    padding: 0; } }
.ptx-services-page .school {
  margin-top: 20px; }
  .ptx-services-page .school .carousel-caption {
    background: rgba(219, 33, 40, 0.6);
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    text-transform: uppercase;
    padding-top: 23px;
    font-size: 16px;
    letter-spacing: 1px; }
.ptx-services-page h2 {
  text-transform: uppercase;
  text-align: center;
  color: #db2128;
  width: 350px;
  margin: 60px auto;
  margin-bottom: 30px;
  position: relative;
  line-height: normal; }
  @media (max-width: 480px) {
    .ptx-services-page h2 .line {
      display: none; } }
  .ptx-services-page h2 .line:first-child {
    width: 180px;
    display: inline-block;
    position: absolute;
    background-color: #db2128;
    height: 3px;
    left: -200px;
    top: 25px; }
    @media (max-width: 767px) {
      .ptx-services-page h2 .line:first-child {
        display: none; } }
    @media (max-width: 480px) {
      .ptx-services-page h2 .line:first-child {
        display: none; } }
  .ptx-services-page h2 .line:last-child {
    width: 180px;
    display: inline-block;
    position: absolute;
    background-color: #db2128;
    height: 3px;
    right: -200px;
    top: 25px; }
    @media (max-width: 767px) {
      .ptx-services-page h2 .line:last-child {
        display: none; } }
    @media (max-width: 480px) {
      .ptx-services-page h2 .line:last-child {
        display: none; } }
  @media (max-width: 767px) {
    .ptx-services-page h2 {
      width: 100%;
      overflow: hidden;
      font-size: 28px; } }
  @media (max-width: 480px) {
    .ptx-services-page h2 {
      width: 100%;
      overflow: hidden;
      margin: 40px auto;
      font-size: 28px; } }
.ptx-services-page .banner-top {
  position: relative;
  background: #fff url(../img/ptx-services/top-banner.jpg) center top no-repeat;
  background-size: 100%; }
  @media (max-width: 767px) {
    .ptx-services-page .banner-top {
      background: #fff url(../img/ptx-services/top-mobile.jpg) center top no-repeat;
      background-size: cover;
      min-height: 500px; } }
  .ptx-services-page .banner-top .cta {
    max-width: 40vw;
    margin: 24vw 0 50px 10%;
    padding: 20px;
    position: relative; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .ptx-services-page .banner-top .cta {
        max-width: 50vw; } }
    @media (max-width: 767px) {
      .ptx-services-page .banner-top .cta {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin: 450px auto 0 auto;
        padding: 50px 10px;
        position: relative;
        float: none; } }
    @media (max-width: 550px) {
      .ptx-services-page .banner-top .cta {
        position: absolute;
        margin: 0px auto;
        bottom: 50px;
        padding: 0px 10px; } }
    .ptx-services-page .banner-top .cta fieldset {
      position: relative;
      border: 1px solid #db2128;
      padding: 0 30px;
      height: 145px; }
      @media (max-width: 767px) {
        .ptx-services-page .banner-top .cta fieldset {
          padding: 10px 10px 20px 10px;
          height: auto; } }
      .ptx-services-page .banner-top .cta fieldset legend {
        color: #db2128;
        text-align: center;
        width: auto;
        line-height: 1.1em;
        text-transform: uppercase;
        font-weight: 400;
        border: none;
        margin-bottom: 0;
        padding-left: 20px;
        padding-right: 20px; }
        @media (max-width: 2000px) {
          .ptx-services-page .banner-top .cta fieldset legend {
            font-size: 2vw; } }
        @media (max-width: 767px) {
          .ptx-services-page .banner-top .cta fieldset legend {
            padding: 10px 0 0 0;
            font-size: 35px;
            line-height: 1.1em;
            text-transform: uppercase;
            font-weight: 400; } }
        @media (max-width: 550px) {
          .ptx-services-page .banner-top .cta fieldset legend {
            font-size: 6.4vw; } }
      .ptx-services-page .banner-top .cta fieldset hr {
        border-bottom: 1px solid #db2128;
        height: 0px;
        border-top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 72%; }
      .ptx-services-page .banner-top .cta fieldset span {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 0 auto; }
        @media (max-width: 767px) {
          .ptx-services-page .banner-top .cta fieldset span {
            padding-bottom: 10px;
            font-size: .79em; } }
      .ptx-services-page .banner-top .cta fieldset .red-btn {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -20px; }
        .ptx-services-page .banner-top .cta fieldset .red-btn a {
          color: #ffffff;
          font-size: 12px;
          background: #db2128;
          border-radius: 20px;
          text-decoration: none;
          position: relative;
          margin: 0 auto;
          padding: 10px 30px;
          bottom: 0;
          display: block;
          width: 40%;
          text-align: center;
          text-transform: uppercase;
          white-space: nowrap;
          font-weight: 600; }
          @media (max-width: 767px) {
            .ptx-services-page .banner-top .cta fieldset .red-btn a {
              width: 55%;
              padding: 10px 15px; } }

/*# sourceMappingURL=ptx-services.css.map */
