@import '../lib';

.container-fluid.page.services-page {
	 .banner-top {
    	@media (min-width:768px){
        position: relative;
        background: #fff url(../img/services/banner.jpg) center top no-repeat;
        background-size: 100%;
        }
        @media (max-width:767px) {
        	position: relative;
	         background: #fff url(../img/services/m-banner.jpg) center top no-repeat;
	         background-size: cover;
	         min-height: 500px;
        }
		.cta {
			max-width: 40vw;
			margin: 24vw 0 50px 10%;
			padding: 20px;
			position: relative;
			@media (min-width:768px) and (max-width:1200px){
				max-width: 50vw;
			}
			@media (max-width: 767px) {
			width: 100%;
			max-width: 500px;
			margin-left: auto;
			margin: 450px auto 0 auto;
			padding: 50px 10px;
			position: relative;
			float: none;

			 }
			 @media (max-width:550px) {
				position: absolute;
				margin: 0px auto;
				bottom: 50px;
				padding: 0px 10px;
			 }

		 fieldset {
            position: relative;
            border: 1px solid $red;
            padding: 0 30px 30px;
            height: auto;
            @media (max-width: 767px) {
                padding: 10px 10px 20px 10px;
                height:auto;
            }
            @media (max-width: 484px) {

            }
            legend {
                color: $red;
                text-align: center;
                width: auto;
				line-height: 1.1em;
				text-transform: uppercase;
				font-weight: 400;
                border: none;
                margin-bottom: 0;
                padding-left: 20px;
                padding-right: 20px;

                @media (max-width: 2000px) {
                     font-size: 2vw;
                }
                @media (max-width: 767px){
                    padding: 10px 0 0 0;
                    font-size: 35px;

					line-height: 1.1em;
					text-transform: uppercase;
					font-weight: 400;

	                }
	                @media (max-width:550px) {
		              font-size: 6.4vw;
	                }
	            } //legend
	            hr {border-bottom:1px solid $red; height: 0px; border-top:0px; margin-top:10px; margin-bottom: 10px; max-width: 72%;}
	            span { text-align: center; color: $white; text-transform: uppercase; text-align: center; display: block; margin: 0 auto;
		           @media (max-width: 767px) {
		           		padding-bottom: 10px;
		           		font-size: 1em;
		           }
	            } //span
	            .red-btn {

	            	position: absolute;
					  width: 100%;
					  left: 0px;
					  bottom: -20px;
		            a {
			              color: $white;
						  font-size: 12px;
						  background: $red;
						  border-radius: 20px;
						  text-decoration: none;
						  position: relative;
						  margin: 0 auto;
						  padding: 10px 30px;
						  bottom: 0;
						  display: block;
						  width: 40%;
						  text-align: center;
						  text-transform: uppercase;
						  white-space: nowrap;
						  font-weight: 600;
						  @media (max-width:767px){
							  width: 55%;
							  padding: 10px 15px;
						  }
		            }
	            } //red btn
	        } //fieldset
		} //cta
	} //banner -top
	
	/* utility hover effect */

.col-md-4.col-xs-12.col-centered {
			overflow: hidden; position: relative; padding: 0px; margin: 20px -6 ;
						img {max-width: 100%; display: block; margin: 0px auto; position: relative; left:0; top:0; z-index: 0;}
			.title {transform: translateY(85%); min-height: 100%; transition: .25s ease-in; -moz-transition:  .25s ease-in; -webkit-transition:  .25s ease-in; display: block; margin: 0 auto; position:absolute;top:0; left:0; z-index: 1; color: $white; background: rgba(219,33,40, .5);min-width: 100%; padding: 5px 20px;
				h2 {text-align: center;}
			}
			&:hover > .title { transform: translateY(0%);  }
		}
.whitespace {min-width: 100%; min-height: 50px; background: none;}
    .section1 {
	    .text-box {max-width: 75%; margin: 20px auto;
		    @media (max-width:767px) {
			    max-width: 90%;
		    }
	    }  
	} //section1
	.section2 {
		
	} //section2

} /* .services-page*/